﻿h2{
    color:gray;
}
p{
    color:gray;
}
.Title{

color:#fff;
    background-color: gray;
  font-weight: bold;
  /*color: #2E2E2E;*/
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
.Name{
    color:#fff;
    background-color: #C0C0C0;
}

/**/