.rate_bg{
  width:100%;
  float:left;
  background:#f0f0f0;
  font-family:Arial,sans-serif;
  font-size:14px;
  color:#000;
  border:1px solid #cccccc;
  padding-bottom:20px;
}
.rate_bg h3{
	background-color:#5e5e5e;
	font-family:Arial,sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#fff;
	padding:10px;
	margin:0px;
}
.supplier-box{
	background-color:#e3e3e3;
	border:1px solid #cccccc;
	padding:10px 0px 10px 0px;
}
.supply-name{
	display:block;
	padding:8px 0px;
}
.supply-icon{
	display:block;
	padding:6px 0px;
}
.search-width{
	width:100%;
}
.rate_bg .btn-default{
	background-color:#ffffff !important;
	border-color:#cccccc !important;
	color:#333;
	text-align:right;
}
.rate_bg .btn-default:hover
{
  color:#333;
}
.rate_bg .dropdown-menu{
	background-color:#ffffff !important;
}
.rate_bg .dropdown-menu li{
	background-color:#ffffff !important;
}
.rate_bg  .dropdown-menu>li>a{
	color:#333 !important;
}
.rate_bg .dropdown-menu>li>a:focus{
	color:#333 !important;
	background:#f1f1f1 !important;
	}
.rate_bg .dropdown-menu>li>a:hover{
	color:#333 !important;
	background:#f1f1f1 !important;
	}
.rate_bg h4{
	font-size:14px;
	font-weight:bold;
}
.Criteria-box{
	background-color:#f1f1f1;
	border:1px solid #cccccc;
	border-radius:4px;
}
.rate_bg .list-group-item{
	padding:8px 6px !important;
    margin-top:10px;
}
.rate_tab
{
  width:100%;
/*  border:1px solid #000;*/
  float:left;
}
.cl_rate
{
  width:40%;
  border-right:1px dotted #999;
  float:left;
  margin-top:2%;
  margin-bottom:2%;
  padding-right:3%;
  min-height:435px;
}
.rate_title
{
  padding-left:5%;
}
.cl_tabl
{
  border:1px solid #d6d6d6;
  table-layout:fixed;
  border-collapse:collapse;
  text-align:left;
}
.clrate_thead
{
  background:#5e5e5e;
  padding:5px;
  color:#fff;
}
.clrate_thead th
{
  padding:8px 6px;
}
.cl_tabl td
{
  padding:8px 6px;
  border:1px solid #d6d6d6;
}
.cl_tabl tbody tr:nth-child(2n+1),
.sub_rate tbody tr:nth-child(2n+1)
{
  background:#fff;
}
.cl_tabl tbody tr:nth-child(2n),
.sub_rate tbody tr:nth-child(2n)
{
  background:#e3e3e3;
}
.sub_rate
{
  width:53%;
  float:left;
  margin-top:2%;
  margin-bottom:2%;
  padding-right:3%;
}
.subrte_form
{
  float:left;
  margin-bottom:2%;
  font-size:13px;
  line-height:36px;
  width:100%;
}
.subrte_form label
{
  float:left;
  clear:left;
  margin-left:9%;
}
.frm_val
{
  font-weight:700;
  margin-left:22%;
  float:left;
}
.frm_select
{
  margin-left:17%;
  float:left;
  border:1px solid #ccc;
  padding:5px;
  font-size:12px;
  font-family:arial;
}
.vat_value
{
  border:1px solid #999;
  font-family:arial;
  font-size:12px;
  padding:4px;
  width:82%;
}
.ofr_btns
{
  float:right;
  clear:right;
  margin-top:2%;
}
.btn_save
 {
    background-color: #207da2 !important;
    background-image: linear-gradient(to bottom, #289bc8 0px, #207da2 100%) !important;
    border: 1px solid #207da2 !important;
    border-radius: 6px;
    box-shadow: 0 1px #5dbadf inset;
    color: #fff !important;
    cursor: pointer;
    font-family: Arial,Helvetica,sans-serif !important;
    font-size: 12px !important;
    height: 35px;
    line-height: 1.42857;
    min-width: 80px;
}

/* subrate template */
.subrate.clrate_thead th
{
  background:#5e5e5e;
  padding:5px;
  color:#fff;
}
.subrate.clrate_thead th
{
  padding:8px 6px;
  border-right:1px solid #fff;
}
.subrate.clrate_thead th:last-child
{
  border-right:none;
}
.subrte_cancl
{
  -moz-user-select: none;
  background-image: linear-gradient(to bottom, #f0f0f0 0%, #d9d9d9 100%);
  background-repeat: repeat-x;
  border: 1px solid #bdbdbd;
  border-radius: 6px;
  box-shadow: 0 1px #ffffff inset;
  cursor: pointer;
  display: inline-block;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 12px;
  font-weight: normal;
  height: 36px;
  line-height: 1.42857;
  margin-bottom: 0;
  margin-left: 10px;
  min-width: 80px;
  outline: medium none;
  padding: 8px 12px;
  text-align: center;
  text-shadow: none;
  vertical-align: middle;
  white-space: nowrap;
}
.form-control {width:180px;}
.popover {max-width:400px;}
.padding-top12{padding-top:12px;}
.margin-top12{margin-top:12px;}
.red{color:#ff0000 !important;}
.table-fixed thead {
  width: 97%;
}
.table-fixed tbody {
  height: 230px;
  overflow-y: auto;
  width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
}