﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="SmsSublayout.ascx.cs" Inherits="Affinion.LoyaltyBuild.Web.Tests.Layouts.SubLayouts.SmsSublayout" %>
<%@ Register TagPrefix="sc" Namespace="Sitecore.Web.UI.WebControls" Assembly="Sitecore.Kernel" %>


<asp:TextBox ID="TextBoxMessage" runat="server" TextMode="MultiLine"></asp:TextBox>
<br />
<asp:Button ID="ButtonSingle" runat="server" OnClick="Button3_Click" Text="Single" />
<br />
<asp:Button ID="ButtonMulti10" runat="server" OnClick="ButtonMulti10_Click" Text="Multi 10" />
<br />
<asp:Button ID="ButtonMulti11" runat="server" OnClick="ButtonMulti11_Click" Text="Multi 11" />
<br />
<asp:Label ID="LabelResponse" runat="server" Text="Label"></asp:Label>
<br />
<p>
    &nbsp;</p>



