﻿h2{
  color:  green;
}

p {
    color:green;
    
}
.Title{
    color:#fff;
    background-color:green;
  font-weight: bold;
  /*color: #2E2E2E;*/
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
.Name{
    color:#fff;
   background-color:#4DB870;
}