﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="Current Pattern.ascx.cs" Inherits="Affinion.LoyaltyBuild.Web.SupplierPortal.Layouts.SubLayouts.SupplierPortal.Controls.Analytics.Current_Pattern" %>


<asp:Panel ID="DMSEnabled" runat="server" Visible="true">
    <asp:Panel ID="PatternMatchPanel" runat="server" Visible="false">
        <div class="image-wrapper">
            <sc:FieldRenderer ID="Image" runat="server" FieldName="Image" />
        </div>
        <h4>
            <asp:Literal ID="DMSTitle" runat="server" /></h4>
        <h5>
            <asp:Literal runat="server" ID="Name" /></h5>
    </asp:Panel>
    <asp:Panel ID="PatternMatchPanelNoMatch" runat="server">
        <div class="image-wrapper">
            <img src="/assets/img/nope.png" alt="Unknown" /></div>
        <h4>
            <asp:Literal ID="DMSTitle2" runat="server" /></h4>
        <h5>
            <asp:Literal ID="DMSNoPatternMatchName" runat="server" /></h5>
    </asp:Panel>
</asp:Panel>
<div style="clear: both"></div>
