/* New css */
.viw_details {
    background: url("../../images/view.png") no-repeat;
    width: 21px;
    height: 22px;
    float: left;
    color: #38b3fc;
}

.price_bg {
    margin-left: 16%;
}

.date_bg {
    /* border:1px solid red;*/
    float: left;
}

.chk_in {
    float: left;
    width: 80px;
    margin-left: 18px;
}

.date_disp {
    font-size: 12px;
}

.dte_no {
    margin-top: 4%;
    margin-bottom: 2px;
}

.hotl_img {
    height: 268px;
    max-width: 100%;
}

.padding-6-3 {
    padding: 6px 3px;
}

.min-height-70 {
    min-height: 70px;
}

.accmdt {
    float: left;
    margin-left: 8px;
    color: red;
    font-size: 13px;
    margin-top: 9px;
}

.dang_strip {
    float: left;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 1% !important;
    padding: 10px !important;
}

.btn_top {
    margin-top: 70%;
}

.box_size {
    padding-bottom: 10%;
}

.bordr-rght {
    border-right: 1px dotted rgba(3, 129, 203, 0.2);
}

.bookng {
    margin-top: 5%;
    margin-bottom: 5%;
}

.textw {
    word-break: break-all;
    word-wrap: break-word;
}

.booking-detail-info .address {
    word-break: break-all;
    word-wrap: break-word;
}

/* Favourite page css */
.calender_icn {
    height: 21px;
    margin-right: -14px;
    padding-top: 3px;
    text-align: center;
    width: 21px;
    position: relative;
    top: 4px;
    margin-bottom: 6px;
}

.fav_dat {
    /* float:left;*/
    margin-top: 3%;
}

.avail_btn {
    float: left;
    margin-left: -13px;
    margin-top: 12% !important;
}

.fav_list {
    float: left;
    clear: left;
}

.list_bg {
    margin-top: 3%;
    margin-bottom: 0;
}

/* Recently seen */
.book_time {
    float: left;
    clear: left;
    color: #999;
}

.price_strt {
    margin-left: 29px;
}

.recnt_bg {
    float: left;
    max-height: 500px;
    overflow-y: auto;
    margin-top: 2%;
}

.pad5 {
    padding-right: 5px;
}

.martop10 {
    margin-top: 10px !important;
}

.modal-body {
    max-height: 400px;
    overflow-y: auto;
}

.ui-widget-content {
    z-index: 9999 !important;
}


/* media css */
@media only screen and (min-width:1470px) and (max-width:2000px) {
    .bordr-rght {
        border-right: 1px dotted rgba(3, 129, 203, 0.2);
    }

    .date_brdr {
        border-bottom: 1px dotted rgba(3, 129, 203, 0.2);
    }
}

@media only screen and (max-width: 980px) {
    .price_bg {
        margin-left: 0;
        margin-top: 1%;
    }

    .btn_top {
        margin-top: 0;
    }

    .date_bg {
        width: 100%;
    }

    .chk_in {
        width: 25%;
    }

    .date_brdr {
        border-right: 1px dotted rgba(3, 129, 203, 0.2);
    }

    .bordr-rght {
        border-bottom: 1px dotted rgba(3, 129, 203, 0.2);
        padding-bottom: 3%;
        margin-top: 3%;
        border-right: none;
    }

    .calender_icn, .gst_space {
        margin-bottom: 5px;
    }

    .new_gap {
        margin-left: 2%;
        float: left;
    }

    .avail_btn {
        float: left;
        margin-left: 2px;
        margin-top: 3% !important;
    }
}

@media only screen and (max-width: 360px) {
    .new_gap {
        margin-top: 5%;
        margin-bottom: 5%;
        float: left;
        margin-left: -5%;
    }

    .price_strt {
        margin-left: 22px;
    }
}


.greyout {
    z-index: 1000;
    background-color: lightgray !important;
    opacity: 0.6 !important;
    pointer-events: none !important;
}
.marR10 {
    margin-right:10px;
}
.font11 {
    font-size:11px;
}
.required {
    color:#ff0000;
}
.bookng .label {
    display:inline-block !important;
    padding:6px 12px !important;
    font-size:100% !important;
    border-radius:4px;
}
.width95 {
    width:95%;
}
.marRm10 {
    margin-right:-10px;
}
.accrequired {
    display:inline-block !important;
    float:right;
    margin-top:-30px;
    color:#ff0000;
}

#mybookingcal .ui-datepicker-trigger {
    position:absolute;
    top:4px;
    left:93.5%;
    z-index:999;
}
#mybookingcal #ui-datepicker-div {
     left:66.5% !important;
}
/* pagination style */

.simple-pagination {
    padding:0 !important;
}
.simple-pagination ul{
                float:right;
}
.compact-theme .current{
                background:rgba(3, 129, 203, 0.5) !important;
                color:#ffffff;
                border-color:rgba(3,129,203,0.5) !important;
}
.compact-theme a, .compact-theme span{
                padding:6px 12px !important;
                line-height:1.42857 !important;
                border:1px solid #ddd !important;
                margin-left:-1px;
                background:#0d7ec1 !important;
                color:#ffffff !important;
                box-shadow:none !important;
}
.compact-theme .disabled .current{
                color:#777 !important;
                background-color:#fff !important;
                border-color:#ddd !important;
                cursor:not-allowed;
}
.compact-theme li:first-child a, .compact-theme li:first-child span{
                margin-left:0 !important;
                border-bottom-left-radius:4px !important;
                border-top-left-radius:4px !important
}
.compact-theme li:last-child a, .compact-theme li:last-child span{
                border-bottom-right-radius:4px !important;
                border-top-right-radius:4px !important;
}
.booking-margin-top{
                margin-top:10px !important;
}
.panel-body{
                padding-bottom:0px !important;

}


