﻿.modal-backdrop {
    position: relative !important;
}

.adv-banner a img {
    display: block;
    height: auto !important;
    max-width: 100% !important;
    min-width: 100% !important;
}

.adv-banner p img {
    display: block;
    height: auto !important;
    max-width: 100% !important;
    min-width: 100% !important;
}

.iframe-top {
    width: 100%;
    height: 550px;
}

.header-top-bar .logo {
    width:100% !important;
}

/* fixed header code 
.cbp-spmenu-push > div:first-child{
    display:none;
}
.header-top-bar {
    position:fixed;
    z-index:99999;
    left:0;
    right:0;
}
.body-container{
    margin-top:114px;
}*/

/*.bx-wrapper .bx-controls-direction a {
    z-index:999 !important;
}*/


/*nav changes*/
/*.favorite {
    margin-top: -2px;
}*/

#basket-info {
    margin-top: 2px;
}

.gmap {
    width: 100% !important;
}

.aspNetDisabled {
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    background-color: #fff;
    border-color: #ccc;
    color: #333;
    float: right;
}

:root label {
    display: block ;
}
/* IE9 */

/*Image Gallary for IE*/
@media screen\0 {
    #image_bottom {
        left: 0 !important;
    }
}

.next-prev-button {
    margin-bottom: 10px;
    width: 100%;
}

.hotel-search-box .form-control{
text-align: left;
}
.hotel-search-box .checkbox .aspNetDisabled {
border: none !important;
background: none !important;
color: #fff !important;
}
/*.welcome-text {
   margin-top: 2px;
}*/

.error-page-top{
    padding: 50px;
}

/*.error-page-bottom{
    padding: 50px;
}*/

.outer-container{
   min-height: 720px !important;
}

/* avilability */
.check-avilability .glyphicon-calendar{
    margin-top: 4px;
}
.check-avilability .glyphicon-calendar img{
      display:  none;
}
.width-avilability-textbox{
    width: 85% !important;
}
