﻿body {
/*# forraffionpaymenthistory*/
#tabs-1{
            font-size: 14px;
        }

        .ui-widget-header {
            background: none;
            border: none;
            color: #FFFFFF;
            font-weight: bold;
            padding: 0;
        }

        .pric-eu {
            float: left;
            width: 50%;
        }

        .pay_optn {
            float: right;
            width: 50%;
            padding-left: 8px;
            border-left: 1px solid;
        }

        .panel-heading.pay_bg {
            background: #f5f5f5;
            color: #0d7ec1;
        }

        .ui-tabs .ui-tabs-panel,
        .ui-widget-content {
            background: none;
            border: none;
        }

        .ui-tabs .ui-tabs-panel {
            border: 1px solid #ccc;
            background: #f2f9fc;
        }

        .ui-tabs, .ui-tabs .ui-tabs-nav {
            padding: 0;
        }

        .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
            border: 1px solid #ccc !important;
            border-bottom: none !important;
            text-decoration: none;
            background: #f2f9fc !important;
        }

            .ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
                color: #1c94c4 !important;
                text-decoration: none;
                outline: none;
            }

        .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
            background: #026199;
            border: 1px solid #ccc !important;
            outline: none;
        }

        #Customerservicerefund {
            margin-top: 20px;
        }

        #paymentadddue .panel-heading {
            height: auto !important;
        }

        #payment-info table, #duetotal table {
            width: 100%;
        }

            #payment-info table tr th, #payment-info table tr td, #duetotal table tr th, #duetotal table tr td {
                padding: 5px;
            }

        .duedelete {
            color: #ff0000 !important;
        }

}
