
@import "http://fonts.googleapis.com/css?family=Titillium+Web:200,400,300,700,900";
@font-face {
    font-family: "socicon";
    font-style: normal;
    font-weight: normal;
    src: url("../bootstrap_assets/fonts/socicon-font/socicon.eot?#iefix") format("embedded-opentype"), url("../bootstrap_assets/fonts/socicon-font/socicon.woff") format("woff"), url("../bootstrap_assets/fonts/socicon-font/socicon.woff2") format("woff2"), url("../bootstrap_assets/fonts/socicon-font/socicon.ttf") format("truetype"), url("../bootstrap_assets/fonts/socicon-font/socicon.svg#sociconregular") format("svg");
}
#chart .character {
    font-size: 0.9em;
    font-weight: 300;
}
.icon {
    color: #9d9d9d;
    font-family: "socicon" !important;
    font-size: 35px;
}
.icon:hover {
    color: #ff4444;
}
.socicon {
    display: inline-block;
    font-family: "socicon";
    font-size: 1.2em;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    position: relative;
    top: 3px;
}
.socicon:empty {
    width: 1em;
}
.socicon-twitter::before {
    content: "a";
}
.socicon-facebook::before {
    content: "b";
}
.socicon-google::before {
    content: "c";
}
.socicon-pinterest::before {
    content: "d";
}
.socicon-foursquare::before {
    content: "e";
}
.socicon-yahoo::before {
    content: "f";
}
.socicon-skype::before {
    content: "g";
}
.socicon-yelp::before {
    content: "h";
}
.socicon-feedburner::before {
    content: "i";
}
.socicon-linkedin::before {
    content: "j";
}
.socicon-viadeo::before {
    content: "k";
}
.socicon-xing::before {
    content: "l";
}
.socicon-myspace::before {
    content: "m";
}
.socicon-soundcloud::before {
    content: "n";
}
.socicon-spotify::before {
    content: "o";
}
.socicon-grooveshark::before {
    content: "p";
}
.socicon-lastfm::before {
    content: "q";
}
.socicon-youtube::before {
    content: "r";
}
.socicon-vimeo::before {
    content: "s";
}
.socicon-dailymotion::before {
    content: "t";
}
.socicon-vine::before {
    content: "u";
}
.socicon-flickr::before {
    content: "v";
}
.socicon-500px::before {
    content: "w";
}
.socicon-instagram::before {
    content: "x";
}
.socicon-wordpress::before {
    content: "y";
}
.socicon-tumblr::before {
    content: "z";
}
.socicon-blogger::before {
    content: "A";
}
.socicon-technorati::before {
    content: "B";
}
.socicon-reddit::before {
    content: "C";
}
.socicon-dribbble::before {
    content: "D";
}
.socicon-stumbleupon::before {
    content: "E";
}
.socicon-digg::before {
    content: "F";
}
.socicon-envato::before {
    content: "G";
}
.socicon-behance::before {
    content: "H";
}
.socicon-delicious::before {
    content: "I";
}
.socicon-deviantart::before {
    content: "J";
}
.socicon-forrst::before {
    content: "K";
}
.socicon-playstore::before {
    content: "L";
}
.socicon-zerply::before {
    content: "M";
}
.socicon-wikipedia::before {
    content: "N";
}
.socicon-apple::before {
    content: "O";
}
.socicon-flattr::before {
    content: "P";
}
.socicon-github::before {
    content: "Q";
}
.socicon-chimein::before {
    content: "R";
}
.socicon-friendfeed::before {
    content: "S";
}
.socicon-newsvine::before {
    content: "T";
}
.socicon-identica::before {
    content: "U";
}
.socicon-bebo::before {
    content: "V";
}
.socicon-zynga::before {
    content: "W";
}
.socicon-steam::before {
    content: "X";
}
.socicon-xbox::before {
    content: "Y";
}
.socicon-windows::before {
    content: "Z";
}
.socicon-outlook::before {
    content: "1";
}
.socicon-coderwall::before {
    content: "2";
}
.socicon-tripadvisor::before {
    content: "3";
}
.socicon-appnet::before {
    content: "4";
}
.socicon-goodreads::before {
    content: "5";
}
.socicon-tripit::before {
    content: "6";
}
.socicon-lanyrd::before {
    content: "7";
}
.socicon-slideshare::before {
    content: "8";
}
.socicon-buffer::before {
    content: "9";
}
.socicon-rss::before {
    content: ",";
}
.socicon-vkontakte::before {
    content: ";";
}
.socicon-disqus::before {
    content: ":";
}
.socicon-houzz::before {
    content: "+";
}
.socicon-mail::before {
    content: "@";
}
.socicon-patreon::before {
    content: "=";
}
.socicon-paypal::before {
    content: "-";
}
.socicon-playstation::before {
    content: "^";
}
.socicon-smugmug::before {
    content: "¨";
}
.socicon-swarm::before {
    content: "$";
}
.socicon-triplej::before {
    content: "*";
}
.socicon-yammer::before {
    content: "&";
}
.socicon-stackoverflow::before {
    content: "(";
}
.socicon-drupal::before {
    content: "#";
}
.socicon-odnoklassniki::before {
    content: ".";
}
.socicon-android::before {
    content: "_";
}
.socicon-meetup::before {
    content: "]";
}
.socicon-persona::before {
    content: ")";
}
.socicon-amazon::before {
    content: "£";
}
.socicon-ello::before {
    content: "\'";
}
.socicon-mixcloud::before {
    content: "\"";
}
.socicon-8tracks::before {
    content: "}";
}
.socicon-twitch::before {
    content: "{";
}
.socicon-airbnb::before {
    content: "/";
}
.socicon-pocket::before {
    content: "?";
}
.socicon-whatsapp::before {
    content: "<";
}
.socicon-storehouse::before {
    content: ">";
}
.socicon-icq::before {
    content: "§";
}
.socicon-modelmayhem::before {
    content: "!";
}
.socicon-istock::before {
    content: "%";
}
.socicon-angellist::before {
    content: "€";
}
.socicon-periscope::before {
    content: "0";
}
@media (min-width: 533px) {
.wrapper {
    max-width: 520px;
}
.box-r {
    padding: 0 1.5em 0 0;
}
.box-l {
    padding: 0 0 0 1.5em;
}
}
@media (min-width: 768px) {
.wrapper {
    max-width: 750px;
}
header, .logo h1 {
    text-align: left;
}
nav {
    text-align: right;
}
nav a:first-child {
    padding-left: 0;
}
nav .pure-button {
    display: inline;
    margin: 0;
    padding-right: 1em;
}
}
@media (min-width: 992px) {
.wrapper {
    max-width: 970px;
}
nav a {
    padding: 0 20px;
}
}
@media (min-width: 1200px) {
.wrapper {
    max-width: 1170px;
}
}
#canvas {
    background-color: transparent;
    position: absolute;
    visibility: hidden;
}
#images {
    background: #fff none repeat scroll 0 0;
    border-radius: 0;
    padding: 10px;
    text-align: center;
}
#images img {
    margin: 2px;
}
.row {
    margin-bottom: 1em;
}
.row:last-child {
    margin-bottom: 0;
}
small.pure-form-message-inline {
    font-size: 80%;
}
.pure-form legend {
    border-bottom: 1px solid #555;
    color: #666666;
}
.inner {
    padding: 1em;
}
.center {
    text-align: center;
}
.minicolors {
    position: relative;
}
.minicolors-swatch {
    background: rgba(0, 0, 0, 0) url("../img/jquery.minicolors.png") repeat scroll -80px 0;
    border: 1px solid #ccc;
    cursor: text;
    display: inline-block;
    margin: 0;
    padding: 0;
    position: absolute;
    vertical-align: middle;
}
.minicolors-swatch-color {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.minicolors input[type="hidden"] + .minicolors-swatch {
    cursor: pointer;
    position: static;
    width: 28px;
}
.minicolors-panel {
    background: white none repeat scroll 0 0;
    border: 1px solid #ccc;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    box-sizing: content-box;
    display: none;
    height: 152px;
    position: absolute;
    width: 173px;
    z-index: 99999;
}
.minicolors-panel.minicolors-visible {
    display: block;
}
.minicolors-position-top .minicolors-panel {
    top: -154px;
}
.minicolors-position-right .minicolors-panel {
    right: 0;
}
.minicolors-position-bottom .minicolors-panel {
    top: auto;
}
.minicolors-position-left .minicolors-panel {
    left: 0;
}
.minicolors-with-opacity .minicolors-panel {
    width: 194px;
}
.minicolors .minicolors-grid {
    background: rgba(0, 0, 0, 0) url("../img/jquery.minicolors.png") repeat scroll -120px 0;
    cursor: crosshair;
    height: 150px;
    left: 1px;
    position: absolute;
    top: 1px;
    width: 150px;
}
.minicolors .minicolors-grid-inner {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    height: 150px;
    left: 0;
    position: absolute;
    top: 0;
    width: 150px;
}
.minicolors-slider-saturation .minicolors-grid {
    background-position: -420px 0;
}
.minicolors-slider-saturation .minicolors-grid-inner {
    background: rgba(0, 0, 0, 0) url("../img/jquery.minicolors.png") repeat scroll -270px 0;
}
.minicolors-slider-brightness .minicolors-grid {
    background-position: -570px 0;
}
.minicolors-slider-brightness .minicolors-grid-inner {
    background: black none repeat scroll 0 0;
}
.minicolors-slider-wheel .minicolors-grid {
    background-position: -720px 0;
}
.minicolors-slider, .minicolors-opacity-slider {
    background: white url("../img/jquery.minicolors.png") repeat scroll 0 0;
    cursor: row-resize;
    height: 150px;
    left: 152px;
    position: absolute;
    top: 1px;
    width: 20px;
}
.minicolors-slider-saturation .minicolors-slider {
    background-position: -60px 0;
}
.minicolors-slider-brightness .minicolors-slider {
    background-position: -20px 0;
}
.minicolors-slider-wheel .minicolors-slider {
    background-position: -20px 0;
}
.minicolors-opacity-slider {
    background-position: -40px 0;
    display: none;
    left: 173px;
}
.minicolors-with-opacity .minicolors-opacity-slider {
    display: block;
}
.minicolors-grid .minicolors-picker {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid black;
    border-radius: 10px;
    height: 12px;
    left: 70px;
    margin-left: -6px;
    margin-top: -6px;
    position: absolute;
    top: 70px;
    width: 12px;
}
.minicolors-grid .minicolors-picker > div {
    border: 2px solid white;
    border-radius: 8px;
    box-sizing: content-box;
    height: 8px;
    left: 0;
    position: absolute;
    top: 0;
    width: 8px;
}
.minicolors-picker {
    background: white none repeat scroll 0 0;
    border: 1px solid black;
    box-sizing: content-box;
    height: 2px;
    left: 0;
    margin-top: -2px;
    position: absolute;
    top: 0;
    width: 18px;
}
.minicolors-inline {
    display: inline-block;
}
.minicolors-inline .minicolors-input {
    display: none !important;
}
.minicolors-inline .minicolors-panel {
    box-shadow: none;
    display: inline-block;
    left: auto;
    position: relative;
    top: auto;
    z-index: auto;
}
.minicolors-theme-default .minicolors-swatch {
    border-radius: 2px;
    height: 25px;
    left: 5px;
    overflow: hidden;
    top: 7px;
    width: 25px;
}
.minicolors-theme-default.minicolors-position-right .minicolors-swatch {
    left: auto;
    right: 5px;
}
.minicolors-theme-default.minicolors {
    width: auto;
}
.minicolors-theme-default .minicolors-input {
    display: inline-block;
    padding-left: 40px !important;
}
.minicolors-theme-default.minicolors-position-right .minicolors-input {
    padding-left: inherit;
    padding-right: 26px;
}
.minicolors-theme-bootstrap .minicolors-swatch {
    border-radius: 5px;
    height: 20px;
    left: 5px;
    overflow: hidden;
    top: 8px;
    width: 20px;
}
.minicolors-theme-bootstrap.minicolors-position-right .minicolors-swatch {
    left: auto;
    right: 3px;
}
.minicolors-theme-bootstrap .minicolors-input {
    padding-left: 44px;
}
.minicolors-theme-bootstrap.minicolors-position-right .minicolors-input {
    padding-left: 12px;
    padding-right: 44px;
}
