html, body {
	margin: 0 auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #545454;
}
.bg-home {
	background: url(../images/backgrounds/home.png) top center repeat-x;
}
.bg-about {
	background: url(../images/backgrounds/about.png) top center repeat-x;
}
.bg-story {
	background: url(../images/backgrounds/story.png) top center repeat-x;
}
.gradientbg {
	background: url(../images/background1.png) top center repeat-y;
	height: 100%;
}
/*.navigationimage {
	background: url(../images/topnav.png) 0 110px repeat-x;
	height: 100%;
}*/
.wrapper {
		width: 960px;
		height: 100%;
		margin: 0 auto;
		background: #FFFFFF url(../images/topnav1.png) 0 151px repeat-x;
		padding-bottom: 40px;
}
div>.wrapper {
		width: 960px;
		height: 100%;
		margin: 0 auto;
		background: #FFFFFF url(../images/topnav1.png) 0 120px repeat-x;
		padding-bottom: 40px;
}
.ninesixty {
	width: 960px;
	margin: 0 auto;
}
.header {
	padding: 10px 0 7px 0;
	font-size: 12px;
	margin-bottom:10px;		
}
	.headerleft {
		width: 840px;
		float: left;	
	}
		.minimenu {
			height: 24px;
			padding-left: 10px;	
			float: left;
		}
		.toplinks{
			display:block;
			margin-right:15px;
			float:left;
		}
		.connectlogo {
			height: 66px;
			width: 840px;
		}
			.connectleft {
				height: 69px;
				width: 317px;
				float: left;
				background: url(../images/connect-green-new.jpg) top left no-repeat;	
				margin-right:20px;	
			}
			.connectright {
				height: 66px;
				width: 500px;
				float: left;
			}
			
			.styleanddate{
				height:20px;
				margin-top:0px;
				vertical-align:bottom;
				float:left;	
			}
				.buttons {
					height: 20px;
					width: 75px;
					float: left;	
					margin-top:50px;
					margin-right:20px;
				}
				.period {
					width: 300px;
					padding-top: 0px;
					float:right;
					text-align:right;
				}
	.headerright {
		width: 120px;
		float: right;
		text-align: right;
		margin-top:10px;
	}
		.networkraillogo {
			height: 54px;
			background: url(../images/networkrail-logo.jpg) top right no-repeat;	
		}
		.searchbox {
			height: 36px;
			margin-top:38px;
			float:left;
			width:320px;
		}
		.subbutton{
			background: none repeat scroll 0 0 transparent;
			color: transparent;
			height:32px;
			width:44px;
			position:relative;
			overflow:hidden;
			font-size:0;
			border:0px solid #fff;
			float:right;
			
		}
		.searchbutton{
			background:url(../images/searchbutton.png) no-repeat top left #014F6F; 
			width:40px; 
			padding:11px 19px 7px 24px; 
			border:0px solid #fff; 
			height:31px; 
			color:#FFF; 
			font-size:10px;
		}
#topnav {
	height: 45px;
	padding: 0px 0px 9px 0px;
	float: right;
	/*position: relative;
	left: -50%;*/
	text-align: left;
	z-index:50;
}
	ul#navbar {
		padding: 0;
		margin: 0;
		/*position: relative;
		left: 50%;*/
	}
	ul#navbar li {
		border-left: 0px solid #FFFFFF;
		list-style: none;
		float: left;
		position: relative;
		width:160px;
	}
	ul#navbar li:hover {
		border-left: 0px solid #FFFFFF;
		list-style: none;
		float: left;
		position: relative;
		background: url(../images/topnav-hovergreen2.png) top left repeat-x;
	}
	ul#navbar li.last {
		border-right: 0px solid #FFFFFF;	
	}
	ul#navbar li a.top {
		color: #FFFFFF;
		font-weight: bold;
		text-decoration: none;
		display: block;
		height: 26px;
		padding: 10px 0 0 0;
		text-align:center;
	}
	ul#navbar li a.topselected {
		color: #FFFFFF;
		font-weight: bold;
		text-decoration: none;
		display: block;
		height: 26px;
		padding: 10px 0 0 0;
		text-align:center;
	}
	ul#navbar li a.topselected {
		background: url(../images/topnav-hovergreen.png) top left repeat-x;
	}
	ul#navbar li a.top:hover {
		background: url(../images/topnav-hovergreen2.png) top left repeat-x;
	}
	ul#navbar li a.topselected:hover {
		background: url(../images/topnav-hovergreen.png) top left repeat-x;
	}
	ul#navbar li ul {
	   display: none; 
	}
	ul#navbar ul li {
		border-left: none;
		padding: 0;
	}
	ul#navbar li:hover ul {
	   position: absolute;
	   display: inline;
	   left: 0;
	   margin: 0;
	   padding: 0;
	}
	
/* ben playing */

.dropdown_1column, 
.dropdown_2columns, 
.dropdown_3columns, 
.dropdown_4columns,
.dropdown_communities {
	margin:0px auto;
	float:left;
	position:absolute;
	left:-999em; /* Hides the drop down */
	text-align:left;
	padding:10px 5px 10px 5px;
	border-bottom:2px solid #747d26;
	border-right:2px solid #747d26;
	border-left:2px solid #747d26;
	border-top:10px solid #747d26;
	background:#FFF;
}

.dropdown_1column {width: 140px;}
.dropdown_2columns {width: 280px;}
.dropdown_3columns {width: 420px;}
.dropdown_4columns {width: 946px;}
.dropdown_communities {width: 946px;}

#navbar li:hover .dropdown_1column, 
#navbar li:hover .dropdown_2columns, 
#navbar li:hover .dropdown_3columns,
#navbar li:hover .dropdown_4columns{
	left:-480px;
	height:auto;
	top:auto;
	z-index:999;
}
#navbar li:hover .dropdown_communities {
	left:-320px;
	height:auto;
	top:auto;
	z-index:999;
}
.col_1, .col_2, .col_3, .col_4, .col_5 {
	display:inline;
	float: left;
	position: relative;
	margin-left: 5px;
	margin-right: 5px;
}
.col_1 {width:200px;}
.col_1 a{color:#014F6F; font-size:13px; text-decoration:none; display:block; padding:5px 20px; border-bottom:dotted 0px #ABB938;}
.col_1 a.droplast{color:#014F6F; font-size:13px; text-decoration:none; display:block; padding:5px 20px 10px; border-bottom:dotted 0px #EC7A08;}
.col_1 a:hover{color:#014F6F;background-color:#FFF;}
.col_1  a.main{color:#014F6F; font-size:14px; font-weight:bold; margin-top:8px; text-decoration:none; display:block; padding:5px; border-bottom:dotted 1px #ABB938;}
.col_1  a.main:hover{color:#014F6F;background-color:#FFF;}
.col_2 {width:270px;}
.col_3 {width:410px;}
.col_4 {width:550px;}
.col_5 {width:1060px;}


/* end of ben playing */	
	
.maincontent {
	width: 960px;
}
.maincontentalternate {
	width: 968px;
}
	.columnsoneandtwo {
		width: 736px;
		float: left;
	}
	div>.columnsoneandtwo {
		width: 736px;
		float: left;
	}
		div>.columnone {
			width: 215px;
			float: left;
			margin: 7px 0 0 0;
		}
		.columnone {
			width: 200px;
			float: left;
			margin: 7px 0 0 0;
		}
		.columntwo {
			width: 512px;
			float: right;
			background: url(../images/centrecolumn-bg1.png) top center repeat-y;	
		}
		div>.columntwo {
			width: 512px;
			float: right;
			background: url(../images/centrecolumn-bg1.png) top center repeat-y;	
		}
			.centralcontent {
			width: 496px;
			padding: 7px 8px 0 8px;
			background: url(../images/topgradient1.png) top center no-repeat;
			}
			.bottomgradient {
			width: 512px;
			height: 50px;
			background: url(../images/bottomgradient1.png) top center no-repeat;
			}
	.columnthree {
		width: 200px;
		float: right;
		margin: 7px 0 0 0;
	}
	div>.columnthree {
		width: 215px;
		float: right;
		margin: 7px 0 0 0;
	}

div>.maincontentalternate {
	width: 960px;
}
div>.columnonealternate {
	width: 200px;
	float: left;
	margin: 7px 0 0 0px;
}
div>.columntwoalternate {
	width: 744px;
	float: right;
	background: url(../images/centrecolumn3-bg.png) top center repeat-y;	
}
.columnonealternate {
	width: 200px;
	float: left;
	margin: 7px 0 0 0px;
}
.columntwoalternate {
	width: 744px;
	float: right;
	background: url(../images/centrecolumn3-bg.png) top center repeat-y;	
}
	.centralcontentalternate {
		width: 728px;
		padding: 7px 8px 0 8px;
		background: url(../images/topgradient3.jpg) top center no-repeat;
	}
	.bottomgradientalternate {
		width: 744px;
		height: 50px;
		background: url(../images/bottomgradient3.jpg) top center no-repeat;
	}
	.archiveleft {
		width: 496px;
		float: left;
	}
	.archiveright {
		width: 214px;
		margin: 8px 10px 0 0;
		float: right;
	}

.leftnav ul {
	margin: 0 0 20px 0;
	padding: 0;
	background-color: #FCF7BD;
}
.leftnav ul li {
	list-style: none;
	margin-bottom:0px;
}
div>.leftnav ul li {
	list-style: none;
}
.leftnav ul li.selected {
	list-style: none;
	padding: 5px 10px;
	background-color: #ABB938;
	color: #FFFFFF;
	font-weight: bold;
}
.leftnav ul li a {
	list-style: none;
	padding: 2px 10px;
	display: block;
}
div>.leftnav ul li a {
	list-style: none;
	padding: 5px 10px;
	display: block;
}
.leftnav ul li a.selected {
	list-style: none;
	padding: 5px 10px;
	background-color: #ABB938;
	color: #FFFFFF;
	font-weight: bold;
}
.leftnav ul li.subselected{
	list-style:none;
	padding: 5px 14px;
	background-color:#DBE493;
	border-left:6px solid #ABB938;
	color:#014F6F;
}
.leftnav ul li a.past {
	list-style: none;
	padding: 5px 10px;
	display: block;
	background-color: #E6E7E8;
	font-weight:bold;
	color: #014F6F;
}
.leftnav ul li a.subpast {
	list-style: none;
	padding: 5px 10px;
	display: block;
	background-color: #E6E7E8;
	color: #014F6F;
	border-bottom:1px solid #fff;
	border-top:1px solid #fff;
}
.leftnav ul li a.sub {
	list-style: none;
	padding: 5px 20px;
	display: block;
}
.leftnav ul li a.sub:hover {
	list-style: none;
	display: block;
	padding: 5px 20px;
	background-color: #DBE493;
	color: #014F6F;
}
.leftnav ul li a.past:hover {
	list-style: none;
	padding: 5px 10px;
	display: block;
	background-color: #DBE493;
	color: #014F6F;
}
.leftnav ul li a:hover {
	list-style: none;
	padding: 5px 10px;
	display: block;
	background-color: #DBE493;
	text-decoration: none;
}
.leftnav ul li a.selected:hover {
	list-style: none;
	padding: 5px 10px;
	display: block;
	background-color: #DBE493;
	text-decoration: none;
	color:#014F6F;
}


h1{	color: #427731;
	font-size: 24px;
	font-weight: bold;
	padding:0;
	margin:8px 0px 1px 0px;
}
h2{
	color: #427731;
	font-size: 18px;
	font-weight: bold;
	padding:20px 10px 0px 10px;
	margin:8px 0px 5px 0px;
	}
h3.sidetitles{
	color: #427731;
	font-size: 16px;
	font-weight: bold;
	padding:5px 0 0 0;
}
h3.sidetitles1{
	color: #427731;
	font-size: 16px;
	font-weight: bold;
	padding:5px 0 0 0;
	margin:0;tab_content_title
}

h3{
	color: #427731;
	font-size: 16px;
	font-weight: bold;
	padding: 16px 0 0 21px;
	}

a {
	color: #014F6F;
	text-decoration: none;
	outline: none;
}
a:hover {
	color: #014F6F;
	text-decoration: underline;	
}

.widget {
	border-bottom: 3px solid #E1E1E1;
	padding: 0px;
	margin-bottom: 20px;	
}
.mostpopular {
	padding: 0;
}
	.widget .title {
		color: #427731;
		font-size: 18px;
		font-weight: bold;
		padding-bottom: 10px;
	}
	.mostpopular .title {
		padding-left: 0px;	
	}
	.widget .copy {
		font-family:Arial, Helvetica, sans-serif;
	}
	.widget .copy p {
		margin: 0;
		padding: 0 0 10px 0;	
	}
	.widget .copy p.last {
		margin: 0;
		padding: 0;	
	}
	.widget .copy p.poll {
		margin: 0;
		padding-left: 30px;
	}
	.widget .copy p.bluepoll {
		background: url(../images/poll-blue.png) 0 2px no-repeat;
	}
	.widget .copy p.greenpoll {
		background: url(../images/poll-green.png) 0 2px no-repeat;
	}
	.widget .copy p.yellowpoll {
		background: url(../images/poll-yellow.png) 0 2px no-repeat;
	}
	.widget .copy p.lightbluepoll {
		background: url(../images/poll-lightblue.png) 0 2px no-repeat;
	}
.pollnumber {
	padding-left: 30px;	
}

span {
	margin: 0px;
}
span#clock {
	margin: 0px;
}
.mostpopular span {
	margin-top: 36px;
}
.topnews {
	width: 476px;	
	background: url(../images/news/topnews1.jpg) top center no-repeat;
	margin-bottom: 16px;
	padding: 0 10px;
}
	.spacer {
		height: 205px;
		width: 476px;	
	}
	.topnewsstory {
		height: 80px;
		width: 456px;
		background: url(../images/pixel.png) top left repeat;
		padding: 10px;
	}
		.topnewsstory .left {
			width: 270px;
			float: left;
			margin-left:10px;	
		}
		div>.topnewsstory .left {
			width: 456px;
			float: left;
			margin-left:0px;	
		}
		.topnewsstory .right {
			width: 380px;
			padding-top: 2px;
			float: right;	
			margin-right:0px;
			color:#fff;
		}
	.topnews a {
		color: #FFFFFF;	
	}
.newsstory {
	height: 128px;
	padding: 8px 10px;
	margin-top: 8px;	
}
.sticky {
	background: #FCF7BD url(../images/sticky1.png) 386px 4px no-repeat;
	margin: 0 10px;
	padding:15px 10px 10px 0;
}
	.newsstory .left {
		width: 160px;
		float: left;	
	}
	.newsstory .left1 {
		width: 160px;
		float: left;	
		margin-right:10px;
	}
	.newsstory .right {
		width: 305px;
		float: right;
		padding: 0;
	}
	.newsstory .right1 {
		width: 291px;
		float: right;
		padding: 0;
	}
	.newsstory .rightalternate {
		width: 528px;
		float: right;
		padding: 0 10px 0 0;
	}
		.newsstory .rightalternate .left {
			width: 334px;
			float: left;
			margin: 0;
			padding: 0;
		}
		.newsstory .rightalternate .lefthow {
			width: 530px;
			float: left;
			margin: 0;
			padding: 2px;
		}
		.newsstory .rightalternate .right {
			width: 160px;
			float: right;
			margin: 0;
			padding: 0 0 0 10px;
			font-size: 12px;
			border-left:1px dotted #545454;
		}
	.headline {
		font-size: 16px;
		font-weight: bold;
		font-family: Arial, Helvetica, sans-serif;
		/*padding:24px 0 7px 0;*/
	}
	.headlineTop {
		font-size: 16px;
		font-weight: bold;
		font-family: Arial, Helvetica, sans-serif;
		float:right;
		width:380px;
		/*padding:24px 0 7px 0;*/
	}
	.newspreviewcopy {
		font-family: Arial, Helvetica, sans-serif;	
		padding: 7px 0 0 0;
		float:right;
		width:260px;
	}
	.missioncopy {
		font-family: Arial, Helvetica, sans-serif;	
		padding: 7px 0 0 0;
		float:right;
		width:305px;
	}
	.Archivepreviewcopy {
		font-family: Arial, Helvetica, sans-serif;	
		padding: 7px 0 0 0;
		float:right;
		width:330px;
	}
	.newspreviewcopySticky {
		font-family: Arial, Helvetica, sans-serif;	
		padding: 7px 0 0 0;
		float:right;
		width:250px;
	}
	.newspreviewcopyArchive {
		font-family: Arial, Helvetica, sans-serif;	
		padding: 4px 0 0 0;
		float:right;
		width:350px;
	}
	div>.storydate {
		width: 55px;
		padding: 7px 0 0 0;
		float:left;
	}
	.storydate {
		width: 55px;
		padding: 7px 0 0 0;
		float:left;
	}
	div>.storydate2 {
		width: 40px;
		padding: 7px 0 0 0;
		float:left;
	}
	.storydate2 {
		width: 40px;
		padding: 7px 0 0 0;
		float:left;
	}
	.mpfivestars {
		background: url(../images/5stars.png) 0px 0px no-repeat;
		/*padding: 24px 0 7px 0;*/
		padding: 0;
		margin-top:4px;
		width:74px;
		height:10px;
		float:right;
	}
	.mpfourstars {
		background: url(../images/4stars.png) 0px 0px no-repeat;
		/*padding: 24px 0 7px 0;*/
		padding: 0;
		margin-top:4px;
		width:74px;
		height:10px;
		float:right;
	}
	.mpthreestars {
		background: url(../images/3stars.png) 0px 0px no-repeat;
		/*padding: 24px 0 7px 0;*/
		padding: 0;
		margin-top:4px;
		width:74px;
		height:10px;
		float:right;
	}
	.mptwostars {
		background: url(../images/2stars.png) 0px 0px no-repeat;
		/*padding: 24px 0 7px 0;*/
		padding: 0;
		margin-top:4px;
		width:74px;
		height:10px;
		float:right;
	}
	.mponestars {
		background: url(../images/1stars.png) 0px 0px no-repeat;
		/*padding: 24px 0 7px 0;*/
		padding: 0;
		margin-top:4px;
		width:74px;
		height:10px;
		float:right;
	}
	.fivestars {
		background: url(../images/5stars.png) 140px 15px no-repeat;
		/*padding: 24px 0 7px 0;*/
		padding: 0 0 12px;
	}
	.fourstars {
		background: url(../images/4stars.png) 140px 15px no-repeat;
		/*padding: 24px 0 7px 0;*/
		padding: 0 0 12px;
	}
	.threestars {
		background: url(../images/3stars.png) 140px 15px no-repeat;
		/*padding: 24px 0 7px 0;*/
		padding: 0 0 12px;
	}
	.twostars {
		background: url(../images/2stars.png) 140px 15px no-repeat;
		/*padding: 24px 0 7px 0;*/
		padding: 0 0 12px;
	}
	.onestars {
		background: url(../images/1stars.png) 140px 15px no-repeat;
		/*padding: 24px 0 7px 0;*/
		padding: 0 0 12px;
	}
	.storypadding {
		/*padding:3px 0 20px;*/
		padding:0px 0 12px;
	}
	.storypadding2 {
		/*padding:3px 0 20px;*/
		padding:13px 0 4px 0;
	}
	
		.storypadding a {
			color: #CD262E;	
		}
		.storydate .left {
			width: 30px;
			float: left;
			text-align: center;
			padding: 0;
			margin-left:0px;
		}
		.leftMP {
			width: 30px;
			float: left;
			text-align: center;
			padding: 0;
			margin-left:0px;
		}
			.number {
				font-family: Georgia, "Times New Roman", Times, serif;
				font-weight: bold;
				font-size: 29px;
				margin-top: -9px; 	
			}
			.month {
				font-weight: bold;
				font-family: Georgia, "Times New Roman", Times, serif;
				font-size: 14px;
				margin-top: 0px;
				line-height: 11px;
			}
			.numberTop {
				font-family: Georgia, "Times New Roman", Times, serif;
				font-weight: bold;
				font-size: 52px;
				margin-top: -17px; 	
			}
			.monthTop {
				font-weight: bold;
				font-family: Georgia, "Times New Roman", Times, serif;
				font-size: 25px;
				margin-top: -4px;
				line-height: 11px;
			}
		div>.storydate .right {
			width: 139px;	
			float: left;
			margin-left:5px;
			padding: 0;
			font-size: 12px;
			font-family:Georgia, "Times New Roman", Times, serif;
		}
		.storydate .right {
			width: 179px;	
			float: left;
			margin-left:5px;
			padding: 0;
			font-size: 12px;
			font-family:Georgia, "Times New Roman", Times, serif;
		}
			.l {
				width: 130px;
				float: left;
			}
			div>.l {
				width: 90px;
				float: left;
			}
			.r {
				width: 120px;
				float: right;	
				text-align: right;
				color:#ABB938;
			}
		.category {
			font-size: 12px;
			font-family:Georgia, "Times New Roman", Times, serif;	
		}
		.categorystory {
			font-size: 12px;
			padding: 10px 21px 0;	
		}
		.categorystoryarchive {
			font-size: 12px;
			padding: 5px 0 0 0;	
			font-family:Georgia, "Times New Roman", Times, serif;
		}
		.lighter {
			color: #ABB938;	
		}
			.lighter .left1 {
			width: 55px;
			float: left;
			}
			.lighter .right1 {
				width: 140px;
				float: right;
				padding: 0px 20px 0 0px;
			}
		.archivestory {
			margin-top: 10px;	
			width: 476px;
			padding: 0 10px 0 10px;
		}
		.archivestory .left {
			width: 60px;
			margin: 4px 0 0 0;
			padding: 0;
			float: left;
		}
		.archivestory .headline {
			font-weight: normal;	
		}
		.archivestory .right {
			width: 406px;
			float: right;
		}
			.rightl {
				width: 350px;
				float: left;
			}
			.rightr {
				width: 40px;
				padding-top: 5px;
				float: right;
				text-align: center;
			}
.centralcontent .title {
	color: #427731;
	font-size: 18px;
	font-weight: bold;
	padding: 16px 0 0 10px;
}
.pagetitle {
	color: #427731;
	font-size: 24px;
	font-weight: bold;
	padding: 0 0 0 10px;
	width: 456px;
}
.pagetitleleft {
	width: 386px;
	float: left;
}
.pagetitleright {
	width:53px;
	height: 14px;
	float: right;
	margin-top: 5px;
	/*background: url(../images/print-blue.png) top left no-repeat;*/
}
.pagetitlealternate {
	color: #427731;
	font-size: 24px;
	font-weight: bold;
	padding: 0 0 0 10px;
	width: 718px;
}
.pagetitleleftalternate {
	width: 494px;
	float: left;
}
.pagetitlerightalternate {
	width:224px;
	float: right;
}
.pagetitleSubHeading {
	color: #427731;
	font-size: 14px;
	font-weight: bold;
	padding: 0 0 0 3px;
	width: 486px;
	font-family:Georgia, "Times New Roman", Times, serif;
}
.filter {
	line-height: 22px;	
}
.linkfirst {
	width: 50px;
	float: left;
	border-right: 1px solid #FFFFFF;
	margin-left:0px;
	height:23px;
}
.link {
	width: 50px;
	float: left;
	height:23px;
	border-right: 1px solid #FFFFFF;
}
.linkfirst a, .link a, .linklast a {
	display: block;
	height:19px;
	padding: 4px 0;
	font-weight: bold;
	text-align: center;
}
.link a:hover, .linklast a:hover {
	display: block;
}
.linklast {
	width: 90px;
	float: left;
	border-right: none;
	height:23px;
}
.mplist{
	margin-bottom:10px;}
	
.mostpopularheadline{
	font-size: 13px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	float:right;
	padding:0;
	width:160px;
}

/*  ---  Footer  -- */
.footer {
	font-size: 12px;
	background: #DDEAF0 url(../images/footer-bg.jpg) top left repeat-x;
}
.footer-bg {
	background: url(../images/footer-gradient.png) top center repeat-y;
}
	.footercontent {
		width: 976px;
		background: #DDEAF0 url(../images/footer-bg.jpg) top left repeat-x;
		margin: 0 auto;
	}
		.footercolumns {
			width: 960px;
			margin: 0 auto;
			padding-top: 33px;
		}
		.footercolumnsonetwothree {
			width: 572px;
			float: left;
		}
			.footercolumnone, .footercolumntwo, .footercolumnfour {
				width: 184px;
				float: left;
			}
		.footercolumnsfourfive, .footercolumnstwothree {
			width: 378px;
			float: right;
		}
			.footercolumnthree, .footercolumnfive {
				width: 184px;
				float: right;
			}
	.footer .title {
		color: #427731;
		font-size: 14px;
		font-weight: normal;
		padding-bottom: 10px;	
	}
	.copyright {
		width: 960px;
		text-align: center;
		padding-top: 100px;
		padding-bottom: 50px;
	}
a.greybutton {
	opacity:0.3;
	filter:alpha(opacity=30);
}
a.greybutton:hover {
	opacity:1.0;
	filter:alpha(opacity=100);
}
a.orangebutton {
	opacity:0.3;
	filter:alpha(opacity=30);
}
a.orangebutton:hover {
	opacity:1.0;
	filter:alpha(opacity=100);
}
a.greenbutton {
	cursor: default;
}
a.transparent:hover {
	opacity:0.7;
	filter:alpha(opacity=70);	
}
.centralcontent p {
	padding: 10px;
	margin: 0;
}
.centralcontent p.last {
	padding: 10px;
	margin: 0;
}
.centretwo {
	padding: 10px;
	width: 454px;
}
.history{
	padding:10px;
	border-bottom:1px dotted #ececec;
}
.pleft {
	width: 210px;
	float: left;
}
.pright {
	width: 210px;
	float: right;
}
.centretwo ul {
	margin: 0;
	padding: 0 0 0 13px;
}
.centretwo ul li {
	padding: 0 0 10px 0;
	margin: 0;
}
.didyouknow {
	width: 204px;
}
.didyouknow p {
	padding: 0;
	margin: 0;
	font-family:Georgia, "Times New Roman", Times, serif;
}
.name {
	color: #427731;
	padding:10px 0;
	/*padding: 5px 10px 5px 10px;*/
	font: Arial, Helvetica, sans-serif;
	font-weight: normal;
}
.quoteleft{ float:left; width:32px; vertical-align:top;}
.quotetext{ float:left; width:140px;}
.quotetextMiddle{float:left; width:390px;}
.quoteright{ float:left; width:32px; vertical-align:bottom; margin-top:50px;}
.sixtysix {
	width: 32px;
	height: 50px;
	background: url(../images/green66.png) top left no-repeat;
}
.sixtysixsmall1{
	width: 45px;
	height: 99px;
	background: url(../images/green66.png) top left no-repeat;
	float:left;
	border-right:3px solid #427731;
	margin-right:10px;
	padding-right:10px;
}
.quotetextmain{
	float:left;
	width:350px;
	padding:10px;
	font-size:16px;
	font-style:italic;
}
.ninetynine {
	width: 32px;
	height: 70px;
	background: url(../images/green99.png) top left no-repeat;
}

.quote {
	font-weight: bold;
	width: 456px;
	padding: 15px 20px 5px 20px;
}
.quote p {
	padding: 0;
	margin: 0;
	font-family:Georgia, "Times New Roman", Times, serif;
}
.sixtysixsmall {
	width: 16px;
	height: 25px;
	background: url(../images/green66-small.png) top right no-repeat;
}
.ninetyninesmall {
	width: 16px;
	height: 25px;
	padding-bottom: 10px;
	background: url(../images/green99-small.png) top left no-repeat;
}
.centrethreecolumn {
	width: 496px;
	padding-top: 16px;
	font-size: 12px;
}
.centrethreecolumnleft {
	width: 331px;
	float: left;	
}
.centrethreecolumnone {
	width: 156px;
	padding-left: 10px;
	float: left;	
}
.centrethreecolumnright {
	width: 90px;
	padding-right: 10px;
	float: right;
	text-align: right;
}
.centrethreecolumncentre {
	width: 90px;
	float: right;
	text-align: center;
}

#container {
	width:476px;
	height: 318px;
	margin:0 10px;
	position:relative;
	z-index:0;
	padding: 16px 0 34px 0;
}
.container1{
	width:476px;
	height: 318px;
	margin:0 auto;
	position:relative;
	z-index:0;
	padding: 16px 0 24px 0;
}
.newsimagetext{
	font-size:9px;
	color:#545454;
	text-align:right;
	background-color:#FCF7BD;
	padding: 5px 10px;	
	font-family:Georgia, "Times New Roman", Times, serif;
	margin:0 10px;
}

#slides {
	position:absolute;
	z-index:1;
}

.slides_container {
	width:476px;
	overflow:hidden;
	position:relative;
	display:none;
}
.slides_container a {
	width:476px;
	height:318px;
	display:block;
}
.slides_container a img {
	display:block;
}

#slides .prev {
	width:180px;
	height: 12px;
	display:block;
	float: left;
	text-align: right;
	padding-top: 10px;
	background:url(../images/leftarrowblue.png) 170px 10px no-repeat;
}
#slides .next {
	width:180px;
	height: 12px;
	display:block;
	float: right;
	padding-top: 10px;
	background:url(../images/rightarrowblue.png) 0 10px no-repeat;
}

#slides1 {
	position:absolute;
	z-index:1;
}

.slides_container {
	width:476px;
	overflow:hidden;
	position:relative;
	display:none;
}
.slides_container a {
	width:476px;
	height:318px;
	display:block;
}
.slides_container a img {
	display:block;
}

#slides1 .prev {
	width:180px;
	height: 12px;
	display:block;
	float: left;
	text-align: right;
	padding-top: 10px;
	background:url(../images/leftarrowblue.png) 170px 10px no-repeat;
}
#slides1 .next {
	width:180px;
	height: 12px;
	display:block;
	float: right;
	padding-top: 10px;
	background:url(../images/rightarrowblue.png) 0 10px no-repeat;
}


.pagination {
	width: 70px;
	margin: 0 auto;
	padding: 10px 93px 0 93px;
}

.pagination li {
	float:left;
	margin:0 1px;
	list-style:none;
}

.pagination li a {
	display:block;
	width:12px;
	height:0;
	padding-top:12px;
	background-image:url(../images/paginationgreen.png);
	background-position:0 0;
	float:left;
	overflow:hidden;
}

.pagination li.current a {
	background-position: 0 -12px;
}

a.year {
	font-weight: bold;	
}
a.date {
	font-size: 12px;
}

/* Community page */
.Community{
	padding:10px;
}
.CommunityFinder{
	background: #FFFFFF url(../images/topnav.png) repeat-x;
	height:30px;
	float:left;
	width:671px;
	padding:5px 0 0 15px;
}
.CommunityFinderHeader{
	color:#FFF;
	font-weight: bold;
	text-decoration: none;
	float:left;
	font-size:16px;
	width:200px;
	margin-top:3px;
}
.CommunityFinderSearch{
	float:left;
}
#CommunityFinderinput{
    font-family: Arial, Sans-Serif;
    font-size: 13px;
    margin-bottom: 5px;
    display: block;
    padding: 2px;
    border: solid 1px #85b1de;
    width: 300px;
    background-image: url( '../images/blue_bg.png' );
    background-repeat: repeat-x;
    background-position: top;
} 
.Communitylist{
	width:686px;
	height:32px;
	background-color:#E1E1e1;
}
.Communitylist ul{
	margin: 0; padding: 0;
    float: left;
}
.Communitylist ul li{
	display:inline;
	list-style:none;
	color:#C1C1C1;
}
.Communitylist ul li a{
	float: left; 
	text-decoration: none;
    color: #014F6F;
    padding: 8px;
	
}
.Communitylist ul li a:hover, .Communitylist ul li .current{
    color: #fff;
    background-color:#014F6F;}
a.greyout{
	color:#C0C0C0 !important;
	background-color:E1E1E1;
}
a.greyout:hover{
	color:#C0C0C0 !important;
	background-color:#E1E1E1 !important;
}

ul#filter-list		{list-style:none; margin:20px 0; padding:0;}
ul#filter-list li		{font-size:small; border-bottom:1px solid #D7D6D5; margin:0; padding:5px 7px; }

ul#filter-list li ul li.filter-list-text{list-style:none;border-bottom:0px solid #D7D6D5;}
ul#filter-list li ul li.filter-list-text H4{margin:0;}
ul#filter-list li ul li.filter-list-text p{margin:2px 0 0; }

.ListLetter{
	font-size:36px;
	float:left;
	width:40px;
	height:40px;
	color:#014F6F;}
.ListContent{
	float:left;
	width:650px;
}
.communityDisplayDiv{
	margin-bottom:15px;
}
.communityDisplayDiv H4{
	margin:10px 0 0;}
.communityDisplayDiv p{
	margin:1px 0 10px;}
	
/* Newspaper tabs */
#newspaperTabs{
	height:50px;
	margin-top:34px;
}
div>ul.thumb {
	float: left;
	list-style: none;
	margin: 1px; padding: 5px;
	width: 207px;
	height:16px;
	border-bottom:3px solid #e1e1e1;
	/*background:url(../images/newspaper-shade.png) bottom;*/
}
ul.thumb {
	float: left;
	list-style: none;
	margin: 1px; padding: 5px;
	width: 190px;
	height:16px;
	border-bottom:3px solid #e1e1e1;
	/*background:url(../images/newspaper-shade.png) bottom;*/
}
ul.thumb li {
	margin: 0px; padding: 0px;
	float: left;
	position: relative;  /* Set the absolute positioning base coordinate */
	width: 50px;
	height: 21px;
}
ul.thumb li img {
	width: 50px; height: 21px; /* Set the small thumbnail size */
	-ms-interpolation-mode: bicubic; /* IE Fix for Bicubic Scaling */
	border: 0px solid #ddd;
	padding: 0px;
	background: #f0f0f0;
	position: absolute;
	left: 0; top: 0;
}
ul.thumb li img.hover {
	/*background:url(thumb_bg.png) no-repeat center center;   Image used as background on hover effect
	border: none; /* Get rid of border on hover */
}

.newIssue{
	display:block;
	color:#fff;
	padding:9px 6px 2px;
	font-family:Arial, Helvetica, sans-serif;
	margin-top:-16px;
	width:31px;
	font-size:10px;
	font-weight:bold;
	margin-left:10px;
	text-align:center;
	background:url(../images/newarrow.png) no-repeat top center #C00;
	margin-bottom:20px;
}

/* End of Newspaper tabs */

#helpmewithpage{
	padding:5px 10px;}
	
/* Tabs */
ul.tabs {
	margin: 0 0 0 10px;
	padding: 0px;
	float: left;
	list-style: none;
	height: 30px; /*--Set height of tabs--*/
	border-bottom: 3px solid #02222f;
	border-right: 0px solid #fff;
	width: 708px;
	
}
ul.tabs li {
	float: left;
	margin: 0;
	padding: 0;
	height: 29px; /*--Subtract 1px from the height of the unordered list--*/
	line-height: 29px; /*--Vertically aligns the text within the tab--*/
	/*border: 1px 2px 0px 0px solid #fff;*/
	border-top: 1px solid #fff;
	border-right:1px solid #fff;
	border-bottom:none;
	border-left: none;
	margin-bottom: -1px; /*--Pull the list item down 1px--*/
	overflow: hidden;
	position: relative;
	
}
ul.tabs li a {
	text-decoration: none;
	color: #014F6F;
	display: block;
	font-size: 12px;
	font-weight:bold;
	padding: 0 10px;
	border: 0px solid #fff; /*--Gives the bevel look with a 1px white border inside the list item--*/
	outline: none;
	background: url(../images/tab-inactive.jpg) top left repeat-x;
}
ul.tabs li a:hover {
	background: url(../images/mostpopular-bg-hover1.png) top left repeat-x;
	color:#fff;
}
html ul.tabs li.active a, 
html ul.tabs li.active a:hover  { /*--Makes sure that the active tab does not listen to the hover properties--*/
	background: url(../images/mostpopular-bg-hover1.png) top left repeat-x;
	border-bottom: 2px solid #002629; /*--Makes the active tab look like it's connected with its content--*/
	color:#fff;
	
}
.tab_contentPadding{
	padding:0px;
	margin: 0 10px;
	width:708px;
}
.ihaveaquestion{
	background-color:#02222F;
	padding:10px;
	margin-top:0px;}

.tabsearchBox{
	background:url('../images/tabsearchbg-green.jpg') no-repeat; 
	padding-left:30px;
	padding-bottom:1px;
	margin-right:0px;
	margin-top:0px;
	margin-bottom:8px;
	width:213px;
	height:24px;
	border:none;
	}
.helpsubmit{ background:url(../images/tab_searchbutton-blue.png) no-repeat #014F6F; border:0px solid #ec7a08; height:26px; width:46px; }
.tab_content_title{
	color: #FFF;
	font-size: 18px;
	font-weight: bold;
	margin-top:6px;
	float:left;
	margin-right:10px;
}
/* end of tabs */

/* accordian */
.sidelinks{
	float:left;
	width:130px;
	background-color:#fff;
}
.accordionleft{ float:left; width:545px;}
.accordionright{ float:left; width:130px;}
.accordion{
	float:left;
	width:550px;
}
h3.trigger {
	padding: 0 0 0 30px;
	margin-bottom: -5px;
	margin-top:7px;
	background: url(../images/h2_trigger_blue4.png) no-repeat;
	height: 29px;
	line-height: 29px;
	width: 485px;
	font-size: 13px;
	font-weight: normal;
	float: left;
}
h3.trigger a {
	color: #fff;
	text-decoration: none;
	display: block;
}
h3.trigger a:hover { color: #fff; }
h3.active {background-position: left bottom; color:#fff;} /*--When toggle is triggered, it will shift the image to the bottom to show its "opened" state--*/
.toggle_container {
	margin: 34px 0 0 7px;
	padding: 0;
	border: 2px solid #ABB938;
	overflow: hidden;
	font-size: 13px;
	width: 498px;
	clear: both;
	background-color:#fff;
}
.toggle_container .block {
	padding: 10px; /*--Padding of Container--*/
	
}
.accordionInnerTitle{
		color: #014F6F;
		font-size:24px;
		font-weight:bold;
		margin-right:20px;
		float:left;
}
.accordionInnerText{
	color:#545454;
	font-size:16px;
	font-weight:bold;
	border-bottom:1px solid #545454;
	padding-bottom:10px;
}
.accordionInnersubtitle{
		color: #014F6F;
		font-size:16px;
		margin-right:20px;
		margin-bottom:10px;
		float:left;
		width:200px
}
.accordionInnerTextLowerfirst{
	border-top:0px solid #545454;
	margin-top:15px;
	padding-top:5px; 
	margin-right:4px;
	float:left; 
	width:158px;
	margin-bottom:20px;
	margin-left:10px;
}
.accordionInnerTextLower{
	border-top:0px solid #545454;
	margin-top:15px;
	padding-top:5px; 
	margin-right:4px;
	float:left; 
	width:158px;
	margin-bottom:20px;
}
.sharelinks{
		color: #545454;
		font-size:11px;
		margin-right:0px;
		margin-bottom:5px;
		margin-top:4px;
}
.sharelinks a{
		color: #014F6F;
		font-size:12px;
		margin-right:0px;
}
.filler{width:23px; height:17px; float:left;}

/* end */

/* Workplaces */

.workplacetitlebg{
	background: url(../images/topnav-hovergreen.png) top left repeat-x;
	height:40px;
	color:#fff;
	margin-bottom:10px;
	margin-top:20px;
}
.workplacetitle{
	float:right;
	text-align:right;
	color:#fff;
	margin-right:15px;
	margin-top:3px;
}
.workplaceRow{ margin: 0; height:90px; padding:10px 0; border-bottom:1px solid #999;}
.workplaceRowOdd{ background-color:#FCF7BD; margin:0; height:90px; padding:10px 0; border-bottom:1px solid #999;}
.workplaceImage{ float:left; width:90px; margin-right:15px; height:90px;}
.workplaceInfo{font-size:11px;}
.workplaceInfoTitle{ font-size:16px; font-weight:bold; margin-bottom:5px; margin-top:3px; font-family:Georgia,"Times New Roman",Times,serif;}

.StratTableHeaderBG{ background-color:#ABB938;}
.StratTableDivider{ background-color:#427731;}
.StratTableHeader{color:#FFF; font-size:13px; font-weight:bold; padding:5px 10px; text-align:left;}
.StratTableInfo{color:#545454; font-size:13px; padding:5px 10px; text-align:left;}
.StratTableInfoRight{color:#545454; font-size:13px; padding:5px 10px; text-align:left; border-left:dotted 1px #545454; margin-left:10px;}

.keymilestonePage{padding:15px;}
.keymilestoneRow{ margin-bottom:15px; padding-bottom:5px; border-bottom:1px dotted #427731;}
.keymilestoneDate{ float:left; color:#427731; font-size:16px; font-weight:bold; margin-bottom:4px;}
.keymilestonetext{ float:left; color:#545454; }

.moveandaccomm{padding:10px;}
.movesandaccommList{ padding:10px;}
.moveandaccommHeader{ color:#427731; font-size:16px; float:left; width:200px; margin-bottom:10px; }
.moveandaccommLine{ float:left; width:200px; color:#545454; font-weight:bold;}
.moveandaccommlineEnd{float:left; width:230px; color:#545454; border-left:1px dotted #427731; padding-left:15px;}
.moveandaccommlineRow{ margin-bottom:5px; border-top:dotted 1px #427731; clear:left; padding:10px;}

h2.acc_trigger {
	padding: 0;	margin:0 0 2px 0;
	background: url(../images/h2_trigger_blue4.png) no-repeat;
	height: 29px;	line-height: 27px;
	width: 510px;
	font-size: 16px;
	font-weight: normal;
	float: left;
	color:#014F6F;
}
h2.acc_trigger a {
	color:#014F6F;
	text-decoration: none;
	display: block;
	padding: 0 0 0 25px;
}
h2.acc_trigger a:hover {
	color:#014F6F;
}
h2.active {background-position: left bottom; color:#fff; margin-bottom:0px;}
h2.active a{color:#fff;}
h2.active a:hover{color:#fff;}
.acc_container {
	margin: 0 0 5px; padding: 0;
	overflow: hidden;
	font-size: 13px;
	width: 508px;
	clear: both;
	background: #fbfbfb;
	border: 1px solid #e1e1e1;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px; 
}
.acc_container .block {
	padding: 10px;
}
.acc_container .block p {
	padding: 5px 0;
	margin: 5px 0;
}
.acc_container h3 {
	font: 2.5em normal Arial, Helvetica, sans-serif;
	margin: 0 0 10px;
	padding: 0 0 5px 0;
	border-bottom: 1px dashed #ccc;
}
.acc_container img {
	float: left;
}

/* Accordian for office training page */
div#test-accordion{
    margin: 10px;
    border: 1px solid #aaa;
}

div.accordion2 {
	position: relative; /* required for bounding */
}

div.accordion-toggle{
    position: relative; /* required for effect */
    z-index: 10;		/* required for effect */
	background: #eee;   
    cursor: pointer;
}

div.accordion-toggle-active{
	background: #fff;	
}

div.accordion-content{
    overflow: hidden;	/* required for effect */
    background: #aaa;
}

/* National Centre */
.ncnewsstory{
	height: 90px;
	padding: 8px 0;
	margin-top: 8px;
}
.ncnewsstory .ncleft {
	width: 162px;
	float: left;	
}
.ncnewsstory .ncright {
	width: 306px;
	float: right;
	padding: 0px 20px 0 0;
}
.ncnewspreviewcopy{
	padding:0;
	font-family:Georgia,"Times New Roman",Times,serif;
	margin-top:3px;
}
ul.ncnewscopy{
	padding-left:15px;
}
.ncnewsstoryfull{
	padding: 10px;
	margin-top: 8px;
	font-family:Georgia,"Times New Roman",Times,serif;
}

.topbox{ width:496px; height:250px; background:url(../images/transforming-newstreet.jpg) bottom no-repeat #ffffff; border:0px solid #545454;}
.topbox h2{ margin:8px 0 2px; padding:0 10px 0; font-size:16px; font-weight:bold; color:#014F6F;}
.topbox p{ color:#545454; font-size:13px; padding:0 10px 0; margin:0px;}

/* FAQ */
.faq{ font-size:13px; margin:20px 0 0 0; width:600px;}
.faq ul{ list-style-type:none; margin:0 0 15px 0;}
.faq ul li{ padding:0 0 5px 0; border-bottom:1px solid #E6F5F8; margin-bottom:5px; background:none;}
.faq ul li ul li{background:none;}
.faq ul li a{ padding-left:22px; background:url(../images/bt_arrow_left.png) no-repeat 0px 0px; color:#014F6F; text-decoration:none;}
.faq ul li a:hover{ text-decoration:underline;}
.faq ul li.active a{ padding-left:22px; background: url(../images/bt_arrow_down.png) no-repeat 0px 1px; text-decoration:none; font-weight:bold;}
.faq ul li.active ul a, .faq ul li.active ul a:visited, .faq ul li ul a{ padding:0px; background:none; text-decoration:none;}
.faq ul li.active ul{ border:0px #ffffff solid; display: block; margin:5px 20px  0px 5px; /* top, right, bottom, left */ padding:10px; background-color:#e6f5f8;}
.faq ul li.active ul li{ list-style:none; margin:0px 0px 0px 6px; }
.faq ul li.active ul li a{ text-decoration:none; color:#014F6F; font-weight:normal;}
.faq ul li.active ul li a:hover{text-decoration:underline;}
.faq ul li ul{display:none;}
.faq ul li ul li{border:none;}
.faq ul li.active ul li ul { border:none; padding-left:15px;}
.faq ul li.active ul li ul li{list-style-type:square;}

/* Gallery */
.galleria{list-style:none;width:100%px;}
.galleria li{display:block;width:100px;height:67px;overflow:hidden;float:left;margin:0 10px 10px 0; background-image:none; padding:0px;}
.galleria li a{display:none}
.galleria li div{position:absolute;display:none;top:0;left:180px;}
.galleria li div img{cursor:pointer}
.galleria li.active div img,.galleria li.active div{display:block}
.galleria li img.thumb{cursor:pointer;top:auto;left:auto;display:block;width:auto;height:auto}
.galleria li .caption{display:block;padding-top:.5em}
* html .galleria li div span{width:600px} /* MSIE bug */
.gallery {border:1px solid #ffffff; margin-bottom:85px;}
#main_image{
	text-align:center;
	width:auto;
	height:auto;
	/*width:425px; 
	height:370px; */
	display:block;
	margin:0 auto 20px auto;
}
#main_image img{margin-bottom:10px; height:400px; border:none;/*1px solid black;*/}


/* Home Page Styles */

#breakingNewsBar{ margin-left:10px; width:476px;}
.breakingNewsLeft{ background-color:#C1272E; padding:7px 5px; color:#fff; font-size:13px; font-family:Arial, Helvetica, sans-serif; width:112px; float:left;}
.breakingNewsRight{ border-top:1px solid #E1E0E0; border-bottom:1px solid #E1E0E0; border-right:1px solid #E1E0E0; padding:6px 5px; color:#000; font-size:13px; font-family:Arial, Helvetica, sans-serif; float:left; width:343px;}

.performanceWidget{border-bottom: 3px solid #E1E1E1; padding: 0px; margin-bottom: 0px;}
.dailyperfomance{ margin-bottom:15px; padding-bottom:15px; border-bottom:dotted 1px #E1E0E0;}
.performancelights{ background:url(../images/red-button.png) no-repeat transparent; height:20px; width:20px; float:left; margin-right:10px;}
.performanceText{ float:left; width:175px;}

a.righthandLinks{ display:block; color:#014F6F; font-size:16px; font-weight:bold; padding:10px 8px; background:url(../images/arrow-green.png) no-repeat right 11px transparent; width:205px; border-bottom: solid 3px #E1E0E0;} 
.RightLinkwidget{border-bottom: solid 3px #E1E0E0; padding:0px; margin-bottom:0px;}




/* TOOLTIP */
.tip-darkgray {
	opacity:0.95;
	z-index:1000;
	text-align:left;
	text-shadow:#444 0 1px 1px;
	border:1px solid #888;
	padding:8px;
	min-width:50px;
	max-width:530px;
	color:#fff;
	background-color:#999;
	background-image:url(../images/tip-darkgray.png); /* bgImageFrameSize >= 11 should work fine */
	/**
	 * - If you set a background-image, border/padding/background-color will be ingnored.
	 *   You can set any padding to .tip-inner instead if you need.
	 * - If you want a tiled background-image and border/padding for the tip,
	 *   set the background-image to .tip-inner instead.
	 */
}
.tip-darkgray .tip-inner {
	font:bold 12px/18px arial,helvetica,sans-serif;
	margin-top:-1px;
	padding:0 4px 3px 4px;
}

/* Configure an arrow image - the script will automatically position it on the correct side of the tip */
.tip-darkgray .tip-arrow-top {
	margin-top:-7px;
	margin-left:15px;
	top:0;
	left:0;
	width:16px;
	height:10px;
	background:url(../images/tip-darkgray_arrows.png) no-repeat;
}
.tip-darkgray .tip-arrow-right {
	margin-top:-9px; /* approx. half the height to center it */
	margin-left:-7px;
	top:50%;
	left:100%;
	width:11px;
	height:21px;
	background:url(../images/tip-darkgray_arrows.png) no-repeat -22px 0;
}
.tip-darkgray .tip-arrow-bottom {
	margin-top:-7px;
	margin-left:15px;
	top:100%;
	left:0;
	width:22px;
	height:13px;
	background:url(../images/tip-darkgray_arrows.png) no-repeat -44px 0;
}
.tip-darkgray .tip-arrow-left {
	margin-top:-9px; /* approx. half the height to center it */
	margin-left:-6px;
	top:50%;
	left:0;
	width:11px;
	height:21px;
	background:url(../images/tip-darkgray_arrows.png) no-repeat -66px 0;
}
.morestories{background-color:#ABB938; width:434px; text-align:right; padding:7px 21px; margin:0 10px;}
.morestories a{ color:#fff; font-weight:bold;}

.updated{margin:20px 10px;}
.updatedLeft{float:left; margin-right:30px;}
.updatedRight{float:left;}

div>.leftnav .button1{ width:215px;margin:0 0 10px 0; height:65px; background:url(../images/aspects-button.jpg); display:block;}
.button1{ width:200px; margin:0 0 10px 0; height:58px; background:url(../images/aspects-button200.jpg); display:block;}
div>.leftnav .button2{width:215px;margin:0 0 10px 0; height:110px; background:url(../images/button_225x115.jpg); display:block;}
.button2{width:200px;margin:0 0 10px 0; height:102px; background:url(../images/button_200x102.jpg); display:block;}
div>.leftnav .button3{width:215px;margin:0 0 10px 0; height:77px; background:url(../images/thebigask-button.jpg); display:block;}
.button3{width:200px;margin:0 0 10px 0; height:72px; background:url(../images/thebigask-button200.jpg); display:block;}
div>.leftnav .button4{width:215px;margin:0 0 10px 0; height:44px; background:url(../images/employeeoffers-button.jpg); display:block;}
.button4{width:200px;margin:0 0 10px 0; height:44px; background:url(../images/employeeoffers-button200.jpg); display:block;}
div>.leftnav .button5{width:215px;margin:0 0 10px 0; height:38px; background:url(../images/promiseandprinciples-button.jpg); display:block;}
.button5{width:200px;margin:0 0 10px 0; height:38px; background:url(../images/promiseandprinciples-button200.jpg); display:block;}


/*
==== Magaizine Thumbnail slider ===
*/
#carousel { width:215px; height:145px; margin-left:0px;}
#slides { overflow:hidden; /* fix ie overflow issue */ position:relative; width:180px; height:92px; border:0px solid #ccc; margin-left:18px; float:left; margin-top:-48px;} /* remove the list styles, width : item width * total items */ 
#slides ul { position:relative; left:0; top:0; list-style:none; margin:0; padding:0; width:540px;} /* width of the item, in this case I put 250x250x gif */
#slides li { width:180px; height:76px; float:left;}
#slides li img { padding:0px;} /* Styling for prev and next buttons */
#slidebuttons { padding:0; float:left; margin-top:60px; text-indent:-999em; z-index:2; width:215px;}
#slidebuttons a { display:block; width:10px; height:12px; float:left; outline:0;}
a#slideprev { background:url(../images/leftarrowblue.png) no-repeat; float:left;} 
a#slidenext { background:url(../images/rightarrowblue.png) no-repeat; float:right;}
	
/*
==== Magaizine Thumbnail slider ===
*/


/*  
	=====  Virtusa Menu  ====
*/

#menuContainer {Z-INDEX: 2; POSITION: relative; MARGIN-BOTTOM: 10px; FONT-SIZE: 1em}
#menuBox {	TEXT-ALIGN: left; MARGIN: 0; WIDTH: 960px}
#menuLine {	BACKGROUND-color: #014F6F; HEIGHT: 8px}
.iframeHidden {	POSITION: absolute; FILTER: alpha(opacity=0); ZOOM: 1; DISPLAY: block; HEIGHT: 200px; TOP: 0px; LEFT: 0px; -moz-opacity: 0; -khtml-opacity: 0; opacity: 0}
#menuBox UL {LIST-STYLE: none none outside; MARGIN: 0px; padding:0px; font-weight:bold;}
#menuBox UL#navigationLinks {overflow: auto}
#menuBox UL LI { position: relative; padding-bottom: 0px; margin: 0px; float: left; width:160px;}
#menuBox UL#navigationLinks LI {text-align: center; display: table; height: 36px; color: #fff; VERTICAL-ALIGN: middle; CURSOR: pointer;}
#menuBox UL LI.selected {	background: url(../images/topnav-selectedgreen.png) top left repeat-x; color: #fff; height:36px;}
#menuBox UL LI.selected A:hover {	background: url(../images/topnav-selectedgreen.png) top left repeat-x; color: #fff}
#menuBox UL LI A {padding: 5px; display: table-cell; vertical-align: middle; text-decoration: none; height:36px;}
#menuBox UL#navigationLinks LI A {PADDING-BOTTOM: 0px; LINE-HEIGHT: 15px; PADDING-LEFT: 24px; PADDING-RIGHT: 24px; WHITE-SPACE: nowrap; color: #fff; PADDING-TOP: 0px}
#menuBox UL LI.selected A {color: #fff !important;background: url(../images/topnav-selectedgreen.png) repeat-x 0px top;}
#menuBox UL LI A:hover {color: #fff !important; background: url(../images/topnav-hovergreen1.png) repeat-x 0px top;height:36px;}
#menuBox UL LI A:focus {text-decoration: none; background: url(../images/topnav-hovergreen1.png) repeat-x 0px top;}
#menuBox UL LI.selected:hover {	background: url(../images/topnav-selectedgreen.png) repeat-x 0px top;}
.mainMenuHover {background: url(../images/topnav-hovergreen2.png) repeat-x 0px bottom; color: #fff; height:36px;}
.arrowHeadDown {VISIBILITY: visible; color:#fff; margin-left:5px; font-size:0.5em;}
.userOnMegaMenu {background: url() repeat-x 0px bottom; color: #fff !important}
.megaDropdown {}
#megaMenuHolder {MARGIN: 10px; HEIGHT: 100%}
.megaMenuItem {	z-index: 9999; position: absolute; width: 946px; zoom: 1; color: #000000 !important; top:36px; left: 0px; padding:10px 5px; border-color:#747d26; border-style:solid; border-width: 2px 2px 10px 2px; background:#FFF;}
#secondLevelMenu DIV LI {float: none}
#secondLevelMenu DIV.menuCols {	width: 186px; float: left}
#secondLevelMenu DIV LI {width: 180px; FLOAT: left; color: #000000; margin-right:3px;}
#secondLevelMenu DIV LI.secondLevelMenu {MARGIN-TOP: 3px; margin-bottom:3px;}
#secondLevelMenu DIV LI.secondLevelMenu LI {margin-left: 12px; margin-bottom:3px;}
#secondLevelMenu DIV LI.secondLevelMenu A {color: #014F6F; height:auto; font-weight:normal; margin-bottom:3px;}
#secondLevelMenu DIV LI.secondLevelMenu A:hover {color: #014F6F !important; text-decoration: underline; background:none;}
#secondLevelMenu DIV UL LI A {padding: 0px; color: #014F6F; margin-bottom:0px;}
#secondLevelMenu DIV LI.secondLevelMenu LI A {padding: 0px 3px; color: #014F6F; margin-bottom:3px;}
#secondLevelMenu DIV LI.secondLevelMenu A:focus {color: #000 !important; text-decoration: none}
#secondLevelMenu DIV LI.secondLevelMenu UL LI A:hover {	color: #014F6F !important; text-decoration: underline}
#secondLevelMenu DIV LI.secondLevelMenu UL LI A:focus {	color: #014F6F !important; text-decoration: underline}
#secondLevelMenu DIV UL LI:active {	background: none transparent scroll repeat 0% 0%}
#secondLevelMenu DIV UL LI:hover {	background: none transparent scroll repeat 0% 0%}
#secondLevelMenu DIV UL {	MARGIN-TOP: 0px;}
DIV#secondLevelMenu DIV.menuCols UL LI.secondLevelMenu UL {	MARGIN-TOP: 0px}


/*  --  Corousel --  */
#middleColumn .itemMask a:hover {	text-decoration:none;}
.innerdiv {	margin:0 1px 0 5px;	position:relative; width:140px;	float:left;	z-index:200;}
div>.innerdiv {	margin:0 1px 0 5px;	position:relative; width:153px;	float:left;	z-index:200;}
#thumb1 {	/*	margin-right:1px;	*/	margin-left:0px !important;	margin-right:3px;	padding-bottom:7px;	height:310px;}
#thumb2 {	/*	margin-left1px;	*/	margin-left:5px !important;	margin-right:3px;	padding-bottom:7px;	height:310px;}
#thumb3 {	margin-right:0px;	padding-bottom:7px;	height:310px;}
#thumb4 {	/*	ie6 changes	*/	margin:0px;	margin-left:6px;}
h4.carouselBar {/*	ie6 changes	*/	padding:5px 0;	background-color:#595959;	text-align:right;	margin-top:10px;	font-weight:bold;}
.carouselBar a {	color:#fff !important;	margin-right:15px;}
.carouselBar span {	color:#FFFFFF;	display:inline-block;	margin-right:10px;	text-decoration:none;}
a.thumbnail {height:220px;	overflow:hidden !important;	display:block;padding-bottom:4px;}
.carouselBar a:hover { text-decoration:underline !important;}
/* -- End of Coursel -- */

/* Carousel */
#homePageCarousel{width:476px; height:640px;}
#homePageCarousel .mainContainer {	width: 476px; margin:0 10px}
.panel {	POSITION: relative}
#homePageCarousel .mainContainer img {width: 476px;	border:none; margin-left:10px;}
div>#homePageCarousel .mainContainer img {width: 476px;	border:none; margin-left:0px;}
#homePageCarousel .thumb {	POSITION: relative; MARGIN: 0px 10px; WIDTH: 476px; FLOAT: left}
#homePageCarousel .thumb img { width: 150px; height: auto; margin:3px 0 3px 0; border:none;}
div>#homePageCarousel .thumb img { width: 155px; height: auto; margin:3px 0 3px 0; border:none;}
#homePageCarousel .panel-overlay {	background-color: #000; position: absolute; z-index: 2; width: 476px; height: 100px; bottom: 0; margin-left:10px; left: 0pt; padding: 0px; color: white; font-size: 1em; cursor:pointer;}
div>#homePageCarousel .panel-overlay {background: url("../images/splashHomepage_1.png") center -3px; position: absolute; z-index: 2; width: 476px; height: 130px; margin-left:0px; bottom: 0; left: 0px; padding: 0px; color: white; font-size: 1em; cursor:pointer; }
#homePageCarousel .panel-overlay H2 {MARGIN: 0.3em 0px}
#homePageCarousel .panel-overlay P {MARGIN: 0.3em 0px}
#homePageCarousel .panel-overlay P {LINE-HEIGHT: 1.2em}
#homePageCarousel ul {	LIST-STYLE: none none outside; PADDING: 0px; MARGIN: 0px;}
#homePageCarousel ul.thumb li {	POSITION: relative; PADDING: 0px; MARGIN: 0px; WIDTH: 150px;DISPLAY: block; FLOAT: left; HEIGHT: auto;x}
.arrowHolderActive {Z-INDEX: 4; POSITION: absolute; WIDTH: 150px; HEIGHT: 10px; VISIBILITY: visible; TOP: -10px; LEFT: 0px}
div>.arrowHolderActive { height:10px; width:153px; position:absolute; top: -10px; left:0px;	z-index:4; visibility:visible;}
.arrowHolder {	Z-INDEX: 3; background: url("../images/upArrow.gif") no-repeat right center; TOP: -10px}
#homePageCarousel .thumb .arrowHolder IMG {	Z-INDEX: 6000; BORDER: none; POSITION: absolute;WIDTH: 160px; DISPLAY: none; HEIGHT: 10px;}
#homePageCarousel .newsInfo {  width:456px; float:left; margin-top:32px; padding:10px; height:75px;}
#homePageCarousel .newsInfo .heading{color:#fff; margin: 3px 0px; font-size:16px; font-weight:bold; font-family:Arial, Helvetica, sans-serif; float:right; width:390px;}
#homePageCarousel .newsInfo .date{ float:left; width:55px; color:#ABB938; font-family:Georgia, "Times New Roman", Times, serif; font-size:24px; font-weight:bold; margin-top:-5px; padding:0px;}
#homePageCarousel .newsInfo .date .datenumber{font-size:43px; margin-bottom:-5px;}
#homePageCarousel .newsInfo .category{ float:left; color:#ABB938; font-family:Georgia, "Times New Roman", Times, serif; font-size:13px; padding-top:11px; font-weight:bold;}
#homePageCarousel .newsInfoText{ width:390px; float:right; color:#fff; font-family:Arial, Helvetica, sans-serif; font-size:13px; margin-top:0px;}
#homePageCarousel .newsInfoText p{ margin:0; padding:0;} 
#homePageCarousel .panel-overlay h4.heading, 
#homePageCarousel .panel-overlay h4.heading a, 
#homePageCarousel .panel-overlay p.titleInfo, 
#homePageCarousel .panel-overlay p.titleInfo a, 
#homePageCarousel .panel-overlay p.topNews,
#homePageCarousel .panel-overlay p.topNews a {	color: #fff; font-size:1em !important; font-weight:normal;	text-decoration:none;}
#homePageCarousel .panel-overlay P.titleInfo A:hover {text-decoration: none}
.thumb A.thumbnail H4.headline {font-weight:bold;	padding:0px 4px; color:#427731; margin: 3px 0px; font-size:1em;}
.thumb A.thumbnail P.titleInfo {padding: 0 4px !important; text-decoration: none;}
.thumb A.thumbnail P.topNews {padding: 3px !important; text-decoration:none;}
.thumbnail A {text-decoration: none !important}
.thumbnail A P {text-decoration: none !important}
.itemMask A {text-decoration: none !important}
.itemMask A:active {text-decoration: none !important}
.itemMask A:visited {text-decoration: none !important}
.itemMask A:hover {	text-decoration: none !important}
.itemMask A P {	text-decoration: none !important}
.whiteMask {}

/*
  ====  || News || Most Popular ||  ====
*/
.mostPopularContent DIV.ui-tabs {padding:0;FONT-SIZE: 0.9em;}
.mostPopularContent DIV.ui-widget-content {	background: none transparent scroll repeat 0% 0%;}
.mostPopularContent UL.ui-widget-header {background: none transparent scroll repeat 0% 0%; color: #ffffff; FONT-WEIGHT: bold; }
.mostPopularContent .ui-tabs .ui-tabs-panel { padding: 0px; DISPLAY: block; background: #fff; FONT-SIZE: 1.11em;}
#tabs .ui-state-active {background: url(../images/mostpopular-bg.png) repeat-x; color: #545454; TOP: 1px; FONT-WEIGHT: normal;}
#tabs .ui-widget-content .ui-state-active { background: #ffffff; color: #545454; TOP: 1px; FONT-WEIGHT: normal;}
#tabs .ui-widget-header .ui-state-active { background: url(../images/mostpopular-bg-hover1.png) bottom center; color: #545454; TOP: 1px; FONT-WEIGHT: normal;}
#tabs UL {MARGIN-LEFT: 0px; FONT-SIZE: 1em; list-style:none;}
#tabs .ui-state-hover { background: #ffffff; color: #014F6F; FONT-WEIGHT: normal; }
#tabs .ui-widget-content .ui-state-hover { background: #ffffff; color: #014F6F; FONT-WEIGHT: normal;}
#tabs .ui-widget-header .ui-state-hover { color: #014F6F; FONT-WEIGHT: normal; }
#tabs .ui-state-focus { background: #ffffff; color: #014F6F; FONT-WEIGHT: normal; }
#tabs .ui-widget-content .ui-state-focus { background: #ffffff; color: #014F6F; FONT-WEIGHT: normal;}
#tabs .ui-widget-header .ui-state-focus { background: #ffffff; color: #014F6F; FONT-WEIGHT: normal;}
#tabs .ui-widget-content A {color: #014F6F}
.ui-tabs {POSITION: relative; padding: 0.2em; ZOOM:1;}
.ui-tabs .ui-tabs-nav {padding: 0 0.2em 0.2em 0.2em; MARGIN: 0px; height:36px;}
.ui-tabs .ui-tabs-nav LI {position: relative; padding: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px 0.4em 1px 0px; WHITE-SPACE: nowrap; FLOAT: left; TOP: 1px; LIST-STYLE-IMAGE: none; _top: 0px}
.ui-tabs .ui-tabs-nav LI A {background: url(../images/mostpopular-bg.png) repeat-x; padding: 0.4em 1.1em 0.6em 1.1em; FLOAT: left; TEXT-DECORATION: none;}
.ui-tabs .ui-tabs-nav LI.ui-tabs-selected {MARGIN-BOTTOM: 0px}
.ui-tabs .ui-tabs-nav LI.ui-tabs-selected A {CURSOR: text;background: url(../images/mostpopular-bg-hover1.png) bottom center; color:#fff;}
.ui-tabs .ui-tabs-nav LI.ui-state-disabled A {	CURSOR: text}
.ui-tabs .ui-tabs-nav LI.ui-state-processing A {CURSOR: text}
.ui-tabs .ui-tabs-nav LI A {CURSOR: pointer}
.ui-tabs-collapsible.ui-tabs .ui-tabs-nav LI.ui-tabs-selected A {CURSOR: pointer}
.ui-tabs .ui-tabs-panel {PADDING-BOTTOM: 1em; PADDING-LEFT: 1.4em; PADDING-RIGHT: 1.4em; DISPLAY: block; background: none transparent scroll repeat 0% 0%; BORDER-WIDTH: 0px; PADDING-TOP: 1em}
.ui-tabs .ui-tabs-hide {DISPLAY: none !important}
.mostPopularContent .tabBody {BORDER-BOTTOM: #c2c2c2 1px solid; BORDER-LEFT: #c2c2c2 1px solid; BACKGROUND-color: #fff; BORDER-TOP: #c2c2c2 1px solid; BORDER-RIGHT: #c2c2c2 1px solid}
.mostreadWrapper .row {MARGIN-BOTTOM: 15px; HEIGHT: 25px}
.mostreadWrapper {PADDING-BOTTOM: 3px; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; PADDING-TOP: 5px}
.mostrateddWrapper {PADDING-BOTTOM: 3px; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; PADDING-TOP: 5px}
.mostrateddWrapper {MARGIN-RIGHT: 3px; PADDING-TOP: 10px}
.mostreadWrapper SPAN {	display: block}
.mostCommentedWrapper {	margin-right: 3px; padding-top: 5px}