﻿#cssmenu ul ul {
    z-index: 100;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.outer-container {
    min-height: 100%;
    position: relative;
}

.body-container {
    padding-bottom: 65px; /* Height of the footer */
}

.outer-container form .footer-container{
    position:absolute !important;
    bottom: 0 !important;
}

.footer-container {
    position:relative;
    bottom: 0 !important;
    width: 100%;
    height: 65px; /* Height of the footer */
    margin-bottom:0px;
}

#cssmenu > ul > li.has-sub > a::before {
    transition: none !important;
}

a {
    transition: none !important;
}

.aspNetDisabled {
    display: inline-block;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    vertical-align: middle;
    white-space: nowrap;
    color: #808080;
    margin-right:5px;
  /*  width: 100%;*/
}

.panel-title a:hover {
    color: #fff;
}

.width-91 {
    width: 91%;
}

.body-text:hover,
.body-text:focus {
    cursor: pointer;
    background: rgba(3, 129, 203, 0.65);
}

/*Popup styles*/
.addtobasket {
    background: #fdbf02;
    color: #fff;
    width: 100%;
    font-size: 11px;
}

.processtocheckout {
    background: #3c763d;
    color: #fff;
    width: 100%;
    font-size: 11px;
}

.btn-co1 {
    background: #026199;
    padding: 9px 2px;
    width: 100%;
    color: #fff;
    display: inline-block;
    text-align: center;
    margin: 5px;
}

.btn-co2 {
    background: #024166;
    padding: 9px 2px;
    width: 100%;
    color: #fff;
    display: inline-block;
    text-align: center;
    margin: 5px;
}

.add-basket-popup .modal-body {
    display: inline-block;
    width: 100%;
}

.add-basket-popup {
    width: 513px;
}

.disable-box {
    background-color: lightgray;
}

.footer-container .copyright-text p {
    text-align: center;
}

.table tr th a{
  color:#ffffff !important
}

/*map*/
.gmap-off {
    width: 100% !important;
}

/* Grid pagination*/
.pagination-grid {
    /*display: inline-block;*/
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

    .pagination-grid table > tbody > tr > td {
        display: inline;
    }

        .pagination-grid table > tbody > tr > td > a,
        .pagination-grid table > tbody > tr > td > span {
            position: relative;
            float: left;
            padding: 8px 12px;
            line-height: 1.42857143;
            text-decoration: none;
            color: #ffffff;
            background-color: #0d7ec1;
            border: 1px solid #fffff;
            margin-left: -1px;
        }

        .pagination-grid table > tbody > tr > td > span {
            position: relative;
            float: left;
            padding: 8px 12px;
            line-height: 1.42857143;
            text-decoration: none;
            margin-left: -1px;
            z-index: 2;
            color: #ffffff;
            background-color: rgba(3,129,203,0.5);
            border-color: #ffffff;
            cursor: default;
        }

        .pagination-grid table > tbody > tr > td:first-child > a,
        .pagination-grid table > tbody > tr > td:first-child > span {
            margin-left: 0;
            border-bottom-left-radius: 4px;
            border-top-left-radius: 4px;
        }

        .pagination-grid table > tbody > tr > td:last-child > a,
        .pagination-grid table > tbody > tr > td:last-child > span {
            border-bottom-right-radius: 4px;
            border-top-right-radius: 4px;
        }

        .pagination-grid table > tbody > tr > td > a:hover,
        .pagination-grid table > tbody > tr > td > span:hover,
        .pagination-grid table > tbody > tr > td > a:focus,
        .pagination-grid table > tbody > tr > td > span:focus {
            color: rgba(3,129,203,0.5);
            background-color: #eeeeee;
            border-color: #dddddd;
        }

.show-hide-list:focus {
    outline: none;
}

.padding-5 {
    padding: 5px;
}

.empty-panel {
    background: #525659 !important;
}

.availability-zero {
    background: #FF0000;
}
.paddng_btns
{
  margin-top:2%;
  float:right;
  margin-right:-9px;
  width:90%;
}
.pop_paddng
{
    padding:5px;
    border:none;
    outline:none;
    border-radius:5px;
}
.room_titl
{
  margin-bottom: 2%;
  float: left;
  margin-top: 1%;
}

.ui-dialog .ui-dialog-content{
    text-align:center;
    margin-top:10px;
}
.ui-dialog .ui-dialog-buttonpane{
    text-align:center !important;
}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset{
    float:none !important;
}
.ui-widget-overlay{
    background-color:#6a6a6a !important;
    }
.search-nav>.dropdown-menu>li>a,
.search-nav>.dropdown-menu>li>a:hover{
    color:#FFF;
}