﻿/* New Theme Styles */
body
{
  color:#647621 !important;
}
.form-control:focus
{
  border-color: #b3b3b3 !important;
  -webkit-box-shadow: inset 0 1px 1px #e2e2e2,0 0 8px #d5d5d5 !important;
  box-shadow: inset 0 1px 1px #e2e2e2,0 0 8px #d5d5d5 !important;
}
.step ul, .checkout-bar a,
.search-nav .sort-by {
    color:#647621 !important;
}
.header-top-bar, .footer-bottom-bar, .slider-detail h3, .offerpic .offer_name{
  background:#647621 !important;
}
.hotel-search-box, .detail-info, .ui-accordion .ui-accordion-header,.search-nav li a{
    background:#6d6d6d !important;
}
.search-nav .dropdown-menu li a, .dropdown-menu
{
    background:#969696 !important;
}
.subscribe-top .btn-default, .tp-number.hidden-xs p strong, .tp-number.hidden-xs p span,
#basket-ico p span, #basket-ico-respodive p span
{
    background:#3C4C01 !important;
    border:none !important;
}
.header-top-bar .tp-number.hidden-xs p strong
{
    padding:2px 6px 3px !important;
}
.header-top-bar .tp-number.hidden-xs p span
{
  top:-2px !important;
}
.hotel-search-box .btn-primary:hover, .detail-info .btn-primary:hover, .btn-default, .btn-primary
{
    background:#647621!important;
    border:1px solid #ccc !important;
}
.footer-bottom-bar
{
  color:#3C4C01 !important;
}
.advancedSearchLink .theme-facility-inner .btn-common {
    color:#647621 !important;
}
.alert-info, .light-box{
    color:#647621 !important;
    border-color:rgba(193, 119, 100, 0.2) !important;
    background-color:rgba(204, 158, 142, 0.05) !important;
}
.detail-hotel > .light-box,
h1.genric_err
{
  color:#666 !important;
}
.ui-accordion .ui-accordion-header {
     border:none !important;
}
.hotel-search-box h3, .detail-info h3{
    font-size:15px !important;
}
.breadcrumb-top .breadcrumb .active, .search-info-detail-top .title-list, .content_bg_inner_box h2, .hotel-name-detail h2, .alert-info h3
{
    color:#647621 !important;
}
.hotel-search-box-detail p, .check-avilability span, .accent33-f, .hotel-name-detail-bottom, .type-room
{
  color:#666 !important;
}
.alert-info span, .alert-info div
{
  color:#666;
}
.search-info {
    border-top-color:#647621 !important;
}
.select-loc .form-control
{
  padding:5px 0px 3px 3px !important;
}
.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
    background-color:#6d6d6d !important;
    border:1px solid #fff !important;
    margin-top:0;
    padding-bottom:6.2px;
}
.pagination li a {
    background-color:#9d9d9d;
}
/* accordian */
.ui-accordion .ui-accordion-content
{
  padding:9px 15px;
  overflow:hidden;
}
.btn-common
{
  font-size:13px !important;
}
.noText
{
  float:left;
  margin-top:-5px;
}
.radio-inline, .checkbox-inline
{
  font-size:12px !important;
}
.theme-common
{
  line-height:12px;
  margin-bottom:2px;
}
.county-filter h4
{
  color:#666 !important;
}
.room-type th, .panel-default>.panel-heading, .search-info .price
{
  background:#7e7e7e !important;
}
.room-type tr
{
    border:1px solid rgba(193, 119, 100, 0.2) !important;
}
.accent34-f {
    color:#666 !important;
}
.accent58-f
{
   color:red !important;
}
.accmdt
{
  color:red !important;
  margin-left:20px;
  margin-top:9px;
}
.modal-title {
    color:#ffffff !important;
}
.fa-group{
    margin-right:5px;
}
.fa-unlink {
    color:#ffffff !important;
    margin-right:5px;
}
.step ul.checkout-bar li.visited:before{
    background:#647621 !important;
}
.step ul.checkout-bar::before, .step ul.checkout-bar li.visited::after  {
    background-color:#B9445F !important;
}
.step ul.checkout-bar li.visited:before
{
    color:#fff;
}
.step ul.checkout-bar li:before
{
  color:#444;
}
.ui-widget-header, .btn-accent63 {
     background:#7e7e7e !important;
}
.modal-dialog .modal-header {
    background-color:#7e7e7e !important;
}