﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="Tertiary Nav.ascx.cs" Inherits="Affinion.LoyaltyBuild.Web.SupplierPortal.Layouts.SubLayouts.SupplierPortal.Controls.Navigation.Tertiary_Nav" %>
<%@ Register TagPrefix="sc" Namespace="Sitecore.Web.UI.WebControls" Assembly="Sitecore.Kernel" %>
<ul>
    <li><asp:label runat="server" id="Label1" text="Welcome"></asp:label></li>
    <li><asp:label runat="server" id="Label2"></asp:label></li>
    <li><asp:Button runat="server" id="btnLogout" OnClick="btnLogout_Click" class="btn btn-primary btn-xs" Text="Log Out" CausesValidation="False"></asp:Button></li>
</ul>




