﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="SupplierSetup.master.cs" Inherits="Affinion.LoyaltyBuild.AdminPortal.sitecore_modules.Shell.Affinion.SupplierSetup.SupplierSetup" %>

<%@ Register TagPrefix="sc" Namespace="Sitecore.Web.UI.WebControls" Assembly="Sitecore.Kernel" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Create New Supplier</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="CODE_LANGUAGE" content="C#" />
    <meta name="vs_defaultClientScript" content="JavaScript" />
    <meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5" />
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link href="/default.css" rel="stylesheet" />
    <sc:visitoridentification runat="server" />

    <script type="text/javascript" src="scripts/jquery.min.js"></script>
    <script type="text/javascript" src="bootstrap_assets/javascripts/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/sitecore/shell/client/Speak/Assets/css/speak-default-theme.css"/>
    <link rel="stylesheet" href="/Resources/styles/bootstrap.min.css"/>
    <link rel="stylesheet" href="/Resources/styles/affinion-admin.min.css"/>
    <link rel="stylesheet" href="/Resources/styles/theme1/theme1.css"/>
    <link rel="Stylesheet" href="/Resources/styles/affinion-common.css" />

    <style type="text/css">
        .sc-global-logo {
            display: inline-block;
            margin: 8px 14px;
            height: 33px;
            width: 33px;
            background: url("/sitecore/shell/Themes/Standard/Images/global_logo.png");
            background-repeat: no-repeat;
            background-position: left top;
            background-size: cover;
        }
    </style>
</head>

<body>
    <form action="/" method="post" runat="server">
        <header class="sc-globalHeader">
                <div class="row sc-globalHeader-content">  
                    <div class="col-md-6">
                        <div class="sc-globalHeader-startButton">
                        <a class="sc-global-logo medium" href="/sitecore/shell/sitecore/client/Applications/Launchpad"></a>
                        </div>
                    <div class="sc-globalHeader-navigationToggler">      
                    </div>
                    </div>
                    <div class="col-md-6">
                    </div>
                </div>
            </header>

        <asp:ContentPlaceHolder ID="MainContent" runat="server">
        </asp:ContentPlaceHolder>
    </form>
</body>
</html>
