﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Testpage.aspx.cs" Inherits="Affinion.LoyaltyBuild.Web.ClientPortal.Testpage" %>

<%@ register src="~/Layouts/SubLayouts/OfflinePortal/OfflinePortalManageCustomerNotes.ascx" tagprefix="uc1" tagname="OfflinePortalManageCustomerNotes" %>


<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
        <uc1:offlineportalmanagecustomernotes runat="server" id="OfflinePortalManageCustomerNotes" />
    </div>
    </form>
</body>
</html>
