﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="CategoryNavigation.ascx.cs" Inherits="Affinion.LoyaltyBuild.UCom.MasterClass.Website.Layouts.Sublayouts.CategoryNavigation" %>
<asp:TreeView runat="server" id="CategoryTreeView"/>