﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="CategoryDetails.ascx.cs" Inherits="Affinion.LoyaltyBuild.UCom.MasterClass.Website.Layouts.Sublayouts.CategoryDetails" %>
<h1><asp:Label runat="server" id="CategoryNameLabel"/></h1>
<span><asp:Label runat="server" id="CategoryDescriptionLabel"/></span>