﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ProductListing.ascx.cs" Inherits="Affinion.LoyaltyBuild.UCom.MasterClass.Website.Layouts.Sublayouts.ProductListing" %>
<%@ register src="~/Controls/ProductRepeater.ascx" tagprefix="uc1" tagname="ProductRepeater" %>

<uc1:productrepeater runat="server" id="ProductRepeater" />
