﻿
.bedbank-header-top-bar{
	background-color:#F1F1F1;
	margin:0px;
	padding:6px 0px;
}
.bedbank-header-top-bar .logo img{
	width:40%;
}
.bedbank-header-top-bar .navbar{
	background:none !important;
}
.bedbank-header-top-bar .navbar-default .navbar-nav>li>a{
	Color:#059ae4;
	font-weight:bold;
}
.bedbank-header-top-bar .navbar-default .navbar-nav>li>a:hover{
	background-color:transparent!important;
}
.bedbank-header-top-bar .navbar-default .navbar-nav>li>a span{
	margin-right:6px !important;
}
.bedbank-header-top-bar ul.navbar-nav li a{
	border-right:none !important;
	Color:#059ae4;
}
.bedbank-header-top-bar  .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus{
	background:none !important;
	color: #555;
}
.body-container{
	padding-bottom:0px !important;
}
.bedbank-leftpanel{
	background-color:#F1F1F1;
    height:500px !important;
}
.bedbank-leftpanel .navbar{
	background-color:#F1F1F1;
}
.bedbank-leftpanel  .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{
	Color:#059ae4;
	font-weight:bold;
	padding-left:10px;
	margin-left:10px;
}
.bedbank-leftpanel .navbar-default .navbar-nav>li>a{
	color:#555;
	padding-left:10px;
	margin-left:10px;
}
@media (min-width: 768px) {
  .bedbank-leftpanel .navbar-collapse {
    height: auto;
    border-top: 0;
    box-shadow: none;
    max-height: none;
    padding-left:0;
    padding-right:0;
  }
  .bedbank-leftpanel .navbar-collapse.collapse {
    display: block !important;
    width: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .bedbank-leftpanel .navbar-collapse.in {
    overflow-x: visible;
  }

.bedbank-leftpanel .navbar
{
	max-width:300px;
	margin-right: 0;
	margin-left: 0;
}	

.bedbank-leftpanel .navbar-nav,
.bedbank-leftpanel .navbar-nav > li,
.bedbank-leftpanel .navbar-left,
.bedbank-leftpanel .navbar-right,
.bedbank-leftpanel .navbar-header
{float:none !important;}

.bedbank-leftpanel .navbar-right .dropdown-menu {left:0;right:auto;}
.bedbank-leftpanel  .navbar-collapse .navbar-nav.navbar-right:last-child {
    margin-right: 0;
}
}

.panel-group .panel-title a:hover{
	color:#fff !important;
}
th{
	background:#2aabd2;
	color:#fff;
}
.dataTable th{
	background:#2aabd2 !important;
	color:#fff;
}
.dataTables_info{
	padding-left:12px;
	padding-bottom:20px;
	Color:#059ae4 !important;
	font-weight:500;
}
.dataTables_length,.dataTables_filter{
	padding:10px;
	font-weight:normal !important;
}
.breadcrumb>.active{
	Color:#059ae4;
	font-weight:500;
}
.validation-summary{
	margin:10px 5px;
}
.validation-summary ul{
	padding-left:5px;
}
.cal-table .colorguidewidth:before{
	padding:3px 12px;
	content:'';
	border:1px solid #ccc;
	border-radius:4px;
}
.cal-table .unallocate:before{
	background-color:#fff;
}
.cal-table .bookable:before{
	background-color:#3fda19;
}
.cal-table .limits:before{
	background-color:#7065cb;
}
.cal-table .closeOut:before{
	background-color:#fa030b;
}
.cal-table .soldOut:before{
	background-color:#fcfd0b;
}
.cal-table{
	padding-bottom:13px
}
.dropdown-menu {
    background:#f7f7f7;
	Color:#059ae4;
}
ul.dropdown-menu > li > a {
    border-right-color:#6c6864;
}
.dropdown  ul.navbar-nav li a{
	Color:#059ae4 !important;
}
.dropdown-menu > li > a:hover {
    color:#555;
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
    background-color:#000;
	background-image:none;
}
.radio-list label {
    font-weight:normal;
    padding-right: 5px;
}
ul.color-codes {
    list-style: none;
    margin:0;
    padding:0;
}

ul.color-codes li {
    float:left;
    padding-right:10px;
    padding-bottom:5px;
}

ul.color-codes li:before {
    border:1px solid #000;
	padding:0px 10px;
    border-radius:3px;
	content:' ';
	margin-right:3px;
}
ul.color-codes li.color-never-tranferred:before {
    background-color:pink;
}
ul.color-codes li.color-tranferred-in:before {
    background-color:#fff;
}
ul.color-codes li.color-tranferred-in:before {
    background-color:lavender;
}
.overflow-hidden-att {
    overflow-y:initial;
    overflow-x:initial;
}
.marT3 {
    margin-top:3px;
}
.marT15 {
    margin-top:15px;
}
.marB15 {
    margin-bottom:15px;
}
.pad0{
	padding:0px;
}
.marL{
	margin-left:5px!important;
}
.Gicon{
	color:#4CAF50;
}
.Ricon{
	color:#FF0000;
}
.bedbank-btn{
	border:none;
	background:none;
}
.copyright-bar{
	background-color:#F1F1F1;
	margin:0px;
	Padding:12px 0px;
}
.copyright-bar P{
	margin:0px;
    text-align:center;
}
.copyright-bar a{
	Color:#059ae4;
}
.panel-default > .panel-heading {
    background-color:#2aabd2 !important;
    color:#ffffff !important;
}
.editButton{
     background:none!important;
     border:none; 
     padding:0!important;
    
    /*optional*/
    font-family:arial,sans-serif; /*input has OS specific font-family*/
     color:#069;
     text-decoration:underline;
     cursor:pointer;
}