﻿
th {
    background:#026199;
    color:#ffffff;
    font-weight:normal;
}
.daterangepicker th.available:hover, .daterangepicker th.available, .daterangepicker .calendar th {
    background:#ffffff !important;
    color:#000000 !important;
    font-weight:bold !important;
}
.daterangepicker{
    border:1px solid rgba(0,0,0,0.50) !important;
}
.tblfooter{
    background-color:#eeeeee;
    color:#777;
    font-weight:bold;
}
.marbot40 {
    margin-bottom:40px;
}
.reptab td:first-child{
	background-color:#ffffff;
	border:none !important;
	width:200px;
}
.validation-summary{
	margin:10px 5px;
}
.validation-summary ul{
	padding-left:5px;
}
.cal-table .colorguidewidth:before{
	padding:3px 12px;
	content:'';
	border:1px solid #ccc;
	border-radius:4px;
}
.cal-table .unallocate:before{
	background-color:#fff;
}
.cal-table .bookable:before{
	background-color:#3fda19;
}
.cal-table .limits:before{
	background-color:#7065cb;
}
.cal-table .closeOut:before{
	background-color:#fa030b;
}
.cal-table .soldOut:before{
	background-color:#fcfd0b;
}
.cal-table{
	padding-bottom:13px
}
.has-error-input
{
    border-color:#FE0000
}
#ResultGridView th a {
    color: #ffffff!important;
}
/*Commented By Maulik Beacuse Color not displayed correctly
    
    .cal-table .unallocate,
.cal-table .bookable,
.cal-table .limits,
.cal-table .closeOut,
.cal-table .soldOut{
	background-color:Transparent;
	color:#000;
}*/
.ui-datepicker-trigger{
    border:none;
    background:none;
    font-size:150%;
 }
.table-cal-header .mainclass {
    margin-left:210px;
}
.table-cal-header .mainclass .row:before,
.table-cal-header .mainclass .row:after{
	display:inline;
}
.table-cal-header .table-cal-left {
    float:left;
    left:15px;
    width:190px;
}
.supplier-report .ajax__calendar{
	right:0;
}
.supplier-report .ajax__calendar_container{
	font-family: inherit;
	font-size:inherit;
	width:auto;
}
.supplier-report .ajax__calendar_body, 
.supplier-report .ajax__calendar_days,
.supplier-report .ajax__calendar_years,
.supplier-report .ajax__calendar_months{
	width:auto !important;
	height:auto !important;
	position:relative !important;
}
.supplier-report .ajax__calendar_days table,
.supplier-report .ajax__calendar_years table,
.supplier-report .ajax__calendar_months table{
	width:100%;
}
.supplier-report .ajax__calendar_days table,
.supplier-report .ajax__calendar_years table,
.supplier-report .ajax__calendar_months table,
.supplier-report .ajax__calendar_days td,
.supplier-report .ajax__calendar_years td,
.supplier-report .ajax__calendar_months td{
	font-family:inherit;
	font-size:inherit;
}
.supplier-report .ajax__calendar .ajax__calendar_day,
.supplier-report .ajax__calendar .ajax__calendar_dayname{
	padding:3px;
	width:auto;
	height:auto;
	text-align:center;
}
.supplier-report .ajax__calendar_footer{
	height:auto;
}

.supplier-report .report-filter {
    margin: 20px 0;
}
.supplier-report .report-filter  .row{
	margin-bottom: 5px;
}
.supplier-report .report-filter .highligh-error {
    display:none;
}
.supplier-report .report-filter .calendar {
    font-size:15px;
}
.supplier-report .report-filter .required {
    color:red;
}
.required {
    color:red;
}
.supplier-report .report-filter .highligh-error[style*=visible] + input[type=text],
.supplier-report .report-filter .highligh-error[style*=visible] + select {
    border-color:red !important;
}
.supplier-report .ajax__tab_xp  .ajax__tab_body {
    border:0;
}
.dropdown-menu {
    background:#6c6864;
}
ul.dropdown-menu > li > a {
    border-right-color:#6c6864;
}
.dropdown-menu > li > a:hover {
    color:#fff;
}
@media screen and (min-width: 640px)
{
	ul.navbar-nav li a:hover {
		background-color:#caa182;
	}
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
    background-color:#000;
	background-image:none;
}
.radio-list label {
    font-weight:normal;
    padding-right: 5px;
}

ul.color-codes {
    list-style: none;
    margin:0;
    padding:0;
}

ul.color-codes li {
    float:left;
    padding-right:10px;
    padding-bottom:5px;
}

ul.color-codes li:before {
    border:1px solid #000;
	padding:0px 10px;
    border-radius:3px;
	content:' ';
	margin-right:3px;
}
ul.color-codes li.color-never-tranferred:before {
    background-color:pink;
}
ul.color-codes li.color-tranferred-in:before {
    background-color:#fff;
}
ul.color-codes li.color-tranferred-in:before {
    background-color:lavender;
}
.overflow-hidden-att {
    overflow-y:initial;
    overflow-x:initial;
}

/* Defect Fix   LWD 610 */ 

#printable .cal-table .col-md-6{
	padding:0px;
}
#printable .cal-table td, #offerprintable .cal-table td{
	vertical-align:middle;
}
#printable .cal-table td .form-control, #offerprintable .cal-table td .form-control {
    display: block;
    height: 65px !important;
    position: relative;
}
#offerprintable .cal-table td .bookable, #offerprintable .cal-table td .closeOut, #offerprintable .cal-table td .unallocateweekend, #offerprintable .cal-table td .default, #offerprintable .cal-table td .defaultweekend {
    display: block;
	height: 65px !important;
    position: relative;
	vertical-align:middle;
	padding:25px 0px;
}
.paysearch {
    width:70% !important;
    float:left;
}
.demondsearch {
    width:80% !important;
    float:left;
}
.mar0 {
    margin:0px !important;
}
.marT3 {
    margin-top:3px;
}
.marR5 {
    margin-right:5px;
}
.marT20 {
    margin-top:20px;
}
.marB10 {
    margin-bottom:10px;
}
.marTM5 {
    margin-top:-5px;
}
.fullWidth {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}
.cal-table .left-detail{
	background-color:#ffffff !important;
}
.cal-table .default{
	background-color: #fcd3a5 !important;
}
td.defaultweekend span,
td.default span
{
  float:left;
  clear:left;
  width:100% !important;
  display:table !important;
  min-height:65px !important;
  vertical-align:middle;
  padding:25px 0px;
}
.manageavailbilityfullwidth {
        width: 100% !important;
        padding-left:0px;
    }
 .toggled {
        display: none;
    }
ul.dropdown-menu:last-child
{
  left:-86px;
}
.hasDatepicker{
    width:60% !important;
}
