﻿.headerSortDown {
    background-color: rgb(92, 131, 172) !important;
}

.blokedspan {
    height: 34px;
    min-height: 24px !important;
    padding: 6px 0;
    text-align: center;
}

.EnbleSpan {
    display: none !important;
}

.EnbleText {
}

@media screen {
    .tabale-top {
        overflow: auto;
    }
}

.clickable {
    cursor: pointer;
}

.offeredClassTrue {
    background: #0094ff none repeat scroll 0 0 !important;
    color: #FFF !important;
}

span.allowselection {
    cursor: pointer;
}

.changestyle {
    font-weight: bold;
    text-decoration: underline;
}

.disablebooking {
    background: #eee !important;
    color: #44576b;
}

.activeofferli {
    display: none;
}

.inactiveofferli {
    display: none;
}

.colorguidewidth {
    height: 28px;
    width: 34px;
}

.container.fullwidth {
    max-width: 1920px !important;
    width: 100%;
}
/*Weekend class css start*/
.cal-table .unallocateweekend {
    background-color: #cccccc;
    color: #fff;
}

.cal-table .soldOutweekend 
{
    background-color: rgb(222, 231, 10);
    color: #fff;
   
}

.cal-table .closeOutweekend {
    background-color: rgb(217, 7, 7);
    color: #fff;
}

.cal-table .bookableweekend {
    background-color: #2b9311;
    color: #fff;
  
}

.cal-table .defaultweekend {
    background-color: rgb(218, 174, 136);
    color: #fff;
}

.cal-table .limitsweekend {
    background-color: rgb(85, 74, 181);
    color: #fff;
}



.cal-table {
    display: table;
}

td span.tmpfix {
    /* width: 22px; */
}
/*Weekend class css end*/
/*subrate start*/

.rate_bg {
    width: 74.8%;
    float: left;
    background: #f0f0f0;
    font-family: Arial,sans-serif;
    font-size: 12px;
    color: #000;
}

.rate_tab {
    width: 100%;
    /*  border:1px solid #000;*/
    float: left;
}

.cl_rate {
    width: 40%;
    border-right: 1px dotted #999;
    float: left;
    margin-top: 2%;
    margin-bottom: 2%;
    padding-right: 3%;
    min-height: 435px;
}

.rate_title {
    padding-left: 5%;
}

.cl_tabl {
    border: 1px solid #d6d6d6 !important;
    table-layout: fixed;
    border-collapse: collapse;
    width: 95%;
    margin-left: 5%;
    text-align: left;
}

.clrate_thead {
    background: #969696;
    padding: 5px;
    color: #fff;
}

    .clrate_thead th {
        padding: 15px;
    }

.cl_tabl td {
    padding: 15px;
    border: 1px solid #d6d6d6;
}

.cl_tabl tbody tr:nth-child(2n+1),
.sub_rate tbody tr:nth-child(2n+1) {
    background: #fff;
}

.cl_tabl tbody tr:nth-child(2n),
.sub_rate tbody tr:nth-child(2n) {
    background: #e3e3e3;
}

.sub_rate {
    width: 53%;
    float: left;
    margin-top: 2%;
    margin-bottom: 2%;
    padding-right: 3%;
}

.subrte_form {
    float: left;
    margin-bottom: 2%;
    font-size: 13px;
    line-height: 36px;
    width: 100%;
}

    .subrte_form label {
        float: left;
        clear: left;
        margin-left: 9%;
    }

.frm_val {
    font-weight: 700;
    margin-left: 22%;
    float: left;
}

.frm_select {
    margin-left: 17%;
    float: left;
    border: 1px solid #ccc;
    padding: 5px;
    font-size: 12px;
    font-family: arial;
}

.vat_value {
    border: 1px solid #999;
    font-family: arial;
    font-size: 12px;
    padding: 4px;
    width: 82%;
    min-width:50px;
}

.ofr_btns {
    float: right;
    clear: right;
    margin-top: 2%;
}

.btn_save {
    background-color: #207da2 !important;
    background-image: linear-gradient(to bottom, #289bc8 0px, #207da2 100%) !important;
    border: 1px solid #207da2 !important;
    border-radius: 6px;
    box-shadow: 0 1px #5dbadf inset;
    color: #fff !important;
    cursor: pointer;
    font-family: Arial,Helvetica,sans-serif !important;
    font-size: 12px !important;
    height: 35px;
    line-height: 1.42857;
    min-width: 80px;
}

/* subrate template */
.subrate.clrate_thead {
    background: #5e5e5e;
    padding: 5px;
    color: #fff;
}

.cl_tabl th {
    background: #5e5e5e;
    padding: 5px;
    color: #fff;
}

.subrate.clrate_thead th {
    padding: 15px;
    border-right: 1px solid #fff;
}

    .subrate.clrate_thead th:last-child {
        border-right: none;
    }

.subrte_cancl {
    -moz-user-select: none;
    background-image: linear-gradient(to bottom, #f0f0f0 0%, #d9d9d9 100%);
    background-repeat: repeat-x;
    border: 1px solid #bdbdbd;
    border-radius: 6px;
    box-shadow: 0 1px #ffffff inset;
    cursor: pointer;
    display: inline-block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: normal;
    height: 36px;
    line-height: 1.42857;
    margin-bottom: 0;
    margin-left: 10px;
    min-width: 80px;
    outline: medium none;
    padding: 8px 12px;
    text-align: center;
    text-shadow: none;
    vertical-align: middle;
    white-space: nowrap;
}

.subrate-pad-25 {
    padding: 25px;
}
/*subrate end*/
#bulk-upload .cal-table {
    border: 1px solid #4c91cd;
    padding: 0;
}

#bulkupload-wrapper {
    border: 1px solid #4c91cd;
    overflow-y:hidden;
}

    #bulkupload-wrapper .cal-table {
        width: auto;
        border: none;
    }

#bulk-upload .cal-hed {
    width: 100%;
    padding: 7px 13px;
}

    #bulk-upload .cal-hed a {
        color: #f77324;
    }

#bulk-upload .left-detail {
    width: 150px;
}

#bulk-upload .blukupload span {
    padding-top: 6px;
}

#bulkupload-wrapper .cal-table th, #bulk-upload .cal-table td:first-child {
    width: 150px;
}

#bulkupload-date .form-control {
    width: 75%;
    float: left;
    padding: 5px;
}

#bulkupload-date .ui-datepicker-trigger {
    padding-left: 5px;
    margin-top: 5px;
}

.offerpart, .offernotpart {
    display: block;
    float: right;
    margin-top: -15px;
}

.close {
    color: #ffffff;
    opacity: 1;
}

.alert-info {
    background-color: #f3f9fd !important;
    border-color: #9acfea;
    background-image: none;
}


.content_bg_inner_box{
	padding:12px;
	display:inline-block;
	width:100%;
	margin:8px 0px;
	border:1px solid;
}
/*css added for icon in left bar*/
.table-cal-header .table-cal-left {
    width:200px;
}
.table-cal-header .mainclass {
    margin-left: 220px;
}