﻿.headerSortDown {
    background-color: rgb(92, 131, 172) !important;
}

.blokedspan {
    height: 34px;
    min-height: 24px !important;
    padding: 6px 0;
    text-align: center;
    width:100%;
}

.EnbleSpan {
    display: none !important;
}

.EnbleText {
}

@media screen {
    .tabale-top {
        overflow: auto;
    }
}

.clickable {
    cursor: pointer;
}

.offeredClassTrue {
    background: #0094ff none repeat scroll 0 0 !important;
    color: #FFF !important;
}

span.allowselection {
    cursor: pointer;
}

.changestyle {
    font-weight: bold;
    text-decoration: underline;
}

.disablebooking {
    background: #eee !important;
    color: #44576b;
}

.activeofferli {
    display: none;
}

.inactiveofferli {
    display: none;
}

.colorguidewidth {
    height: 28px;
    width: 34px;
    margin-right:5px;
    margin-left:10px;
}

.container.fullwidth {
    max-width: 1920px !important;
    width: 100%;
}
/*Weekend class css start*/
.cal-table .unallocateweekend {
    background-color: #cccccc;
    color: #fff;
}

.cal-table .soldOutweekend 
{
    background-color: rgb(222, 231, 10);
    color: #fff;
   
}

.cal-table .closeOutweekend {
    background-color: rgb(217, 7, 7);
    color: #fff;
}

.cal-table .bookableweekend {
    background-color: #2b9311;
    color: #fff;
  
}

.cal-table .defaultweekend {
    background-color: rgb(218, 174, 136);
    color: #fff;
}

.cal-table .limitsweekend {
    background-color: rgb(85, 74, 181);
    color: #fff;
}



.cal-table {
    display: table;
}

td span.tmpfix {
    /* width: 22px; */
}
/*Weekend class css end*/
/*subrate start*/

.rate_bg {
    width: 74.8%;
    float: left;
    background: #f0f0f0;
    font-family: Arial,sans-serif;
    font-size: 12px;
    color: #000;
}

.rate_tab {
    width: 100%;
    /*  border:1px solid #000;*/
    float: left;
}

.cl_rate {
    width: 40%;
    border-right: 1px dotted #999;
    float: left;
    margin-top: 2%;
    margin-bottom: 2%;
    padding-right: 3%;
    min-height: 435px;
}

.rate_title {
    padding-left: 5%;
}

.cl_tabl {
    border: 1px solid #d6d6d6 !important;
    table-layout: fixed;
    border-collapse: collapse;
    width: 95%;
    margin-left: 5%;
    text-align: left;
}

.clrate_thead {
    background: #969696;
    padding: 5px;
    color: #fff;
}

    .clrate_thead th {
        padding: 15px;
    }

.cl_tabl td {
    padding: 15px;
    border: 1px solid #d6d6d6;
}

.cl_tabl tbody tr:nth-child(2n+1),
.sub_rate tbody tr:nth-child(2n+1) {
    background: #fff;
}

.cl_tabl tbody tr:nth-child(2n),
.sub_rate tbody tr:nth-child(2n) {
    background: #e3e3e3;
}

.sub_rate {
    width: 53%;
    float: left;
    margin-top: 2%;
    margin-bottom: 2%;
    padding-right: 3%;
}

.subrte_form {
    float: left;
    margin-bottom: 2%;
    font-size: 13px;
    line-height: 36px;
    width: 100%;
}

    .subrte_form label {
        float: left;
        clear: left;
        margin-left: 9%;
    }

.frm_val {
    font-weight: 700;
    margin-left: 22%;
    float: left;
}

.frm_select {
    margin-left: 17%;
    float: left;
    border: 1px solid #ccc;
    padding: 5px;
    font-size: 12px;
    font-family: arial;
}

.vat_value {
    border: 1px solid #999;
    font-family: arial;
    font-size: 12px;
    padding: 4px;
    width: 82%;
    min-width:50px;
}

.ofr_btns {
    float: right;
    clear: right;
    margin-top: 2%;
}

.btn_save {
    background-color: #207da2 !important;
    background-image: linear-gradient(to bottom, #289bc8 0px, #207da2 100%) !important;
    border: 1px solid #207da2 !important;
    border-radius: 6px;
    box-shadow: 0 1px #5dbadf inset;
    color: #fff !important;
    cursor: pointer;
    font-family: Arial,Helvetica,sans-serif !important;
    font-size: 12px !important;
    height: 35px;
    line-height: 1.42857;
    min-width: 80px;
}

/* subrate template */
.subrate.clrate_thead {
    background: #5e5e5e;
    padding: 5px;
    color: #fff;
}

.cl_tabl th {
    background: #5e5e5e;
    padding: 5px;
    color: #fff;
}

.subrate.clrate_thead th {
    padding: 15px;
    border-right: 1px solid #fff;
}

    .subrate.clrate_thead th:last-child {
        border-right: none;
    }

.subrte_cancl {
    -moz-user-select: none;
    background-image: linear-gradient(to bottom, #f0f0f0 0%, #d9d9d9 100%);
    background-repeat: repeat-x;
    border: 1px solid #bdbdbd;
    border-radius: 6px;
    box-shadow: 0 1px #ffffff inset;
    cursor: pointer;
    display: inline-block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: normal;
    height: 36px;
    line-height: 1.42857;
    margin-bottom: 0;
    margin-left: 10px;
    min-width: 80px;
    outline: medium none;
    padding: 8px 12px;
    text-align: center;
    text-shadow: none;
    vertical-align: middle;
    white-space: nowrap;
}

.subrate-pad-25 {
    padding: 25px;
}
/*subrate end*/
.offers-top{
	padding-bottom:12px;
}
#bulk-upload .cal-table{
	border:1px solid #4c91cd;
	/* margin-top:12px; */
    padding-bottom:0px;
}
#bulk-upload .bulkavailability {
    padding:0px 15px;
}

#bulkupload-wrapper{
	border:1px solid #4c91cd
}
#bulkupload-wrapper .cal-table{
	width:auto !important;
	border:none;
	display:inline-table !important;
}
#bulk-upload .cal-hed{
	width:100%;
	padding:7px 13px;
}
#bulk-upload .cal-hed a{
	color:#f77324;
    font-size:18px;
    cursor: pointer;
    display:block;
    }
#bulk-upload .left-detail{
	width:150px;
}
#bulk-upload .cal-table td{
	background-color:#ffffff;
}
#bulk-upload .form-control{
	width:47%;
}
#bulk-upload .form-group .form-control{
	width:100%;
}
#bulk-upload .slash{
	float:left;
	font-weight:bold;
	color:#44576b;
	margin:6px 1px 0px 1px;
	font-size:14px;
	width:6%;
}
#bulk-upload .wid45{
	width:45%;
}
#bulk-upload .unallocate{
	float:left;
}
#bulk-upload .dropdown{
	width:50%;
}
#bulk-upload .btn-default{
	background-color:#ffffff;
	color:#44576b;
	width:100%;
	border:none;
	border-radius:0px;
	height:34px;
	font-size:11px;
	padding:6px;
}
#bulk-upload table tr td:last-child .bulkpricedropdown .btn-default, #bulk-upload table tr td:nth-child(7) .bulkpricedropdown .btn-default {
    background-color:#cccccc !important;
}
#bulk-upload table tr td:last-child .bulkpricedropdown select, #bulk-upload table tr td:nth-child(7) .bulkpricedropdown select {
    background-color:#cccccc !important;
}
#bulk-upload .caret{
	display:inline-block;
	float:right;
	margin-top:8px;
	
}
#bulk-upload .dropdown-menu{
	min-width:160px !important;
}
#bulk-upload  .dropdown-menu{
	background-color:#ffffff;
}
#bulk-upload .dropdown-menu li{
	background-color:#ffffff;
}
#bulk-upload .dropdown-menu>li>a{
	color:#44576b;
}
#bulk-upload .dropdown-menu>li>a:hover{
	background-color:#eaf5ff;
	color:#44576b;
}
.availability{
	width:91%;
	overflow-x:scroll;  
    overflow-y:visible;
	margin-left:110px;
	/* border:1px solid #4c91cd; */
}
.availability table.cal-table{
	border:none !important;
}
.availability .cal-table td:first-child{
	border-bottom-color:#ffffff;
    border-top-color:#ffffff !important;
}
.availability .cal-table tr td:first-child{
	position:absolute;
	background-color:#ffffff;
	height:36px;
	width:110px !important;
	border-left:1px solid #0371b2;
	margin-left:-109px;
}
.availability .cal-table tr th:first-child{
	position:absolute;
	background-color:#ffffff;
	width:110px;
	padding:0px;
	margin-left:-110px;
}
.availability .cal-table .left-detail{
	padding-top:10px !important;
}
.availability .cal-table tr{
	background-color:#ffffff;
}
.availability .btn-default, #bulk-upload .btn-default{
	background-color:#f2f2f2;
	color:#000000;
	width:100%;
	border:none;
	border-radius:0px;
	height:34px;
	font-size:11px;
	padding:6px 0px;
	font-weight:bold;
}
.availability .cal-table .cal-hed{
	width:110px !important;
	border:2px solid #0371b2;
	border-bottom:none;
}
.availability .caret{
	display:inline-block !important;
	margin-left:2px;
}
.availability .dropdown-menu{
	background-color:#ffffff;
}
.availability .dropdown-menu li{
	background-color:#ffffff;
    text-align:center;
}
.availability .dropdown-menu>li>a{
	color:#44576b;
}
.availability .dropdown-menu>li>a:hover{
	background-color:#eaf5ff;
	color:#44576b;
}
#bulk-upload .blukupload span{
	padding-top:6px;
}
#bulkupload-wrapper .cal-table th, #bulk-upload .cal-table td:first-child{
	width:160px !important;
}
#bulkupload-date .form-control{
	width:75%;
	float:left;
	padding:5px;
}
#bulkupload-date .ui-datepicker-trigger{
	margin-left:5px;
	margin-top:10px;
}
#bulk-upload  .form-group, .availability .form-group{
	margin-bottom:0px;
}
.availability .form-group .form-control{
	text-align-last:center;
}
/*
.availability .tooltip {
    border-radius:5px !important;
    box-shadow:none !important;
    text-transform:capitalize !important;
    border:2px solid #000000;
}
*/

.offers-det span{
	width:80% !important;
	display:block;
	padding-right:5px;
}
.overflowTip {
	width:85px !important;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
	Padding:0px 0px 0px 6px;
}
.wdt85{
	width:85px !important;
}
.wdt75{
	width:73px !important;
}
.wdt50{
	width:50px !important;
}
.wdt55{
	width:55px !important;
}
.wdt60{
	width:60px !important;
}
.wdt65{
	width:65px !important;
}
.font16{
	font-size:16px;
}
.marT12{
	margin-top:12px;
}
.topcount{
	border-radius:5px;
	position:absolute;
	left:15px;
	top:-9px;
	font-size:11px;
	font-weight:bold;
	height:14px;
	width:17px;
	padding:0px;
	text-align:center;
	line-height:12px;
	background-color:#f55f24;
	color:#ffffff;
}
.userbox{
	background-color: #f1f1f1;
	border:1px solid #e5e5e5;
	border-radius:4px;
	margin:0px 3px;
	padding:5px;
	width:28px;
	height:20px;
	
}
#bulk-upload .bulkpricedropdown .btn-default{
	background-color: #ffffff !important;
    background-image:none !important;
}
.availability .pricedropdown .btn-default{
	background-color: #ffffff;
    background-image:none;
}
.availability .defaultweekend .pricedropdown .btn-default {
    background-color:#cccccc;
}
#bulk-upload  .bootstrap-select.btn-group .dropdown-toggle .filter-option{
	text-align:center;
}

.pricedropdown .caret, .bulkpricedropdown .caret{
	display:none !important;
}
.block-detail a{
	color:#f77324;
}
.pricevariant{
	font-weight:bold;
	position:relative;
	float:right;
	right:18px;
	margin-top:-4px;
}
.disabled{
    opacity: 0.5;
    filter: grayscale( 100% );
    -webkit-filter: grayscale( 1 );
	cursor:not-allowed;
}
.availability .title h2{
	background-color:#eaf5ff;
	border-top:1px solid #bcd5e9;
	border-bottom:1px solid ##bcd5e9;
	color:#f77324;
	font-size:16px;
	padding:8px;
	font-weight:700;
	text-align:left;
	text-transform:capitalize;
}
.availability .dropdown-menu{
	min-width:160px !important;
}
.availability .bootstrap-select.btn-group.show-tick .dropdown-menu li a span.text{
	margin-right:0px !important;
	text-align:left;
	margin-left:-20px;
}

 /* Tooltip */
  .blue-tooltip + .tooltip > .tooltip-inner {
      background-color: #2aabd2 !important;
      color: #FFFFFF;
      border: 1px solid #2aabd2;
      padding: 10px;
      font-size: 10px;
  }
  /* Tooltip on top */
  .blue-tooltip  + .tooltip.top > .tooltip-arrow {
      border-top: 5px solid #2aabd2;
  }
  /* Tooltip on bottom */
  .blue-tooltip  + .tooltip.bottom > .tooltip-arrow {
      border-bottom: 5px solid #2aabd2;
  }
  /* Tooltip on left */
  .blue-tooltip  + .tooltip.left > .tooltip-arrow {
      border-left: 5px solid #2aabd2;
  }
  /* Tooltip on right */
  .blue-tooltip  + .tooltip.right > .tooltip-arrow {
      border-right: 5px solid #2aabd2;
  }

.marL{
	margin-left:5px!important;
}
.marTM5{
	margin-top:-5px;
}
.availability .btn{
	padding:6px 8px !important;
}
.addon .offers-det{
	padding:6px 0px !important;
	border-bottom:1px solid #bcd5e9;
}
.addon .offers-det li{
	border:none !important;
	width:100% !important;
	padding-left:0px !important;
}	
.addon small{
	color:#777;
}
.addon small span{
	display:inline-block !important;
    width:auto!important;
    padding-right:0px !important;
}
.alert-warning{
	background-image:none !important;
	font-weight:normal !important;
}
.popupbox{
	box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
	background-color:#ffffff;
	margin-bottom:20px;
}
.popupbox h4{
	color:#f77324;
	background:#eaf5ff;
	border-bottom:1px solid #bcd5e9;
	font-size:14px;
	Padding:12px;
}
.PadTB10px{
	padding-top:10px;
	padding-bottom:10px;
}
.offerpart, .offernotpart {
    display: block;
    float: right;
    margin-top: -15px;
}

.close {
    color: #ffffff;
    opacity: 1;
}

.alert-info {
    background-color: #f3f9fd !important;
    border-color: #9acfea;
    background-image: none;
}


.content_bg_inner_box{
	padding:12px;
	display:inline-block;
	width:100%;
	margin:8px 0px;
	border:1px solid;
}
/*css added for icon in left bar*/
.table-cal-header .table-cal-left {
    width:200px;
}
.table-cal-header .mainclass {
    margin-left: 220px;
}
.cal-table .defaultweekend select {
    color : #000;
}
/* drop down Css  start */
.availability .bootstrap-select.btn-group.show-tick .dropdown-menu li a span.text {
    float:none !important;
   /* width:auto !important;*/
}
.availability .bootstrap-select.btn-group .dropdown-menu li a span.check-mark {
    float:none !important;
    display:none !important;
}
.availability .bootstrap-select.btn-group .dropdown-toggle .filter-option {
    text-align:center !important;
}
.availability .bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark {
    display:inline-block !important;
}
.availability .bootstrap-select.btn-group .dropdown-menu li a span.text {
    display:inline-block !important;
}
#bulk-upload .bootstrap-select.btn-group.show-tick .dropdown-menu li a span.text {
    float:none !important;
   /* width:auto !important;*/
}
#bulk-upload .bootstrap-select.btn-group .dropdown-menu li a span.check-mark {
    float:none !important;
    display:none !important;
}
#bulk-upload .bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark {
    display:inline-block !important;
}
#bulk-upload .bootstrap-select.btn-group .dropdown-menu li a span.text {
    display:inline-block !important;
}
#bulk-upload {
    margin-bottom:12px;
}
#page-content-wrapper2 .btn {
    margin-right:5px;
}

/* Manage offer table style */
.Offeavailability{
	width:89%;
	overflow-x:scroll;  
    overflow-y:visible;
	margin-left:140px;
	/* border:1px solid #4c91cd; */
    margin-bottom:12px;
}
.Offeavailability table.cal-table{
	border:none !important;
}
.Offeavailability .cal-table td:first-child{
	border-bottom-color:#ffffff;
    border-top-color:#ffffff !important;
}
.Offeavailability .cal-table tr td:first-child{
	position:absolute;
	background-color:#ffffff;
	height:36px;
	width:140px !important;
	border-left:1px solid #0371b2;
	margin-left:-139px;
}
.Offeavailability .cal-table tr th:first-child{
	position:absolute;
	background-color:#ffffff;
	width:140px;
	padding:0px;
	margin-left:-140px;
}
.Offeavailability .cal-table tr{
	background-color:#ffffff;
}
.Offeavailability .cal-table .left-detail{
	padding-top:10px !important;
}
.Offeavailability .cal-table .cal-hed{
	width:140px !important;
	border:2px solid #0371b2;
	border-bottom:none;
}
.Offeavailability .cal-table{
	border:1px solid #4c91cd;
    padding-bottom:0px;
}

/* modal popup btn style*/
.modal-dialog .modal-footer .btn{
	background-color: #6c6864 !important;
	border-radius:4px;
}
.modal-footer{
	padding:8px !important;
} 