﻿@media print  {
    body {-webkit-print-color-adjust: exact;}

    .cal-table .closeOut {
        background: #fa030b !important;
        color: #fff !important;
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }

    .form-control {
        border: 0;
        min-height: 24px !important;
        padding: 0 !important;
        text-align: center;
        font-size: 11px;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
    }

    .btn {
        display: none !important;
    }
    .cal-table td {
    border-color: #fff !important;
    -webkit-print-color-adjust: exact;
}
    .cal-table .left-detail {
    background: #fff !important;
    color: #4c91cd !important;
        -webkit-print-color-adjust: exact;

}
    .cal-table .borderBottom {
    border-bottom: 1px solid #4c91cd !important;
    -webkit-print-color-adjust: exact;
}
    .cal-table .labelRow td {
    background: #cfe2f5 !important;
    color: #4e7aab !important;
    border-bottom: 1px solid #4e7aab !important;
     -webkit-print-color-adjust: exact;
}
   
    .cal-table .bookable {
        background: #3fda19 !important;
        color: #fff !important;
        -webkit-print-color-adjust: exact;
    }

    .cal-table .unallocate {
        background: #fff !important;
        color: #44576b !important;
        -webkit-print-color-adjust: exact;
    }

    .cal-table .closeOut {
        background: #fa030b !important;
        color: #fff !important;
        -webkit-print-color-adjust: exact;
    }


    .cal-table .soldOut, .cal-table .yellow {
        background: #fcfd0b !important;
        color: #44576b !important;
        -webkit-print-color-adjust: exact;
    }

    .cal-table .default {
        background: #fcd3a5 !important;
        color: #44576b !important;
        -webkit-print-color-adjust: exact;
    }

    .cal-table .light-yellow {
        background: #7065cb !important;
        color: #44576b !important;
        -webkit-print-color-adjust: exact;
    }

    .cal-table .limits {
        background: #7065cb !important;
        color: #fff !important;
         -webkit-print-color-adjust: exact;
    }
    /*Weekend class css start*/
.cal-table .soldOutweekend {
    background-color: rgb(222, 231, 10) !important;
    color: #fff !important;
    -webkit-print-color-adjust: exact;
}

.cal-table .closeOutweekend {
    background-color: rgb(217, 7, 7) !important;
    color: #fff !important;
    -webkit-print-color-adjust: exact;
}

.cal-table .bookableweekend {
    background-color: #2b9311 !important;
    color: #fff !important;
    -webkit-print-color-adjust: exact;
}

.cal-table .defaultweekend {
    background-color: rgb(218, 174, 136) !important;
    color: #fff !important;
    -webkit-print-color-adjust: exact;
}

.cal-table .limitsweekend {
    background-color: rgb(85, 74, 181) !important;
    color: #fff !important;
    -webkit-print-color-adjust: exact;
}

.cal-table .unallocateweekend {
    background-color: #cccccc !important;
    color: #fff !important;
    -webkit-print-color-adjust: exact;
}

/*Weekend class css end*/
    .disablebooking {
        background: #eee !important;
    color: #44576b !important;
       -webkit-print-color-adjust: exact;
    }
    .cal-table th {
    background: #4c91cd !important;
    color: #fff !important;
    border-color: #fff !important;
     -webkit-print-color-adjust: exact;
}
     .cal-table th.headerSortDown {
    background-color: rgb(92, 131, 172) !important;
    -webkit-print-color-adjust: exact;
}
    .cal-table .cal-hed {
    background: #fff !important;
    color: #f77324 !important;
        -webkit-print-color-adjust: exact;
}
}
