/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Toggle Styles 
#calendarTable2 {display:none;}*/
#mainWrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.2s ease;
}

#mainWrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
  /*  display:block;*/
    padding-top:0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.2s ease;
	
}

#sidebar-wrapper h4 { font-size:22px}

#mainWrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#mainWrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles 

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}
*/
@media(min-width:640px) {
    #sidebar-wrapper {
        width: 15%;
		/*display:block;*/
		
    }
    
#sidebar-wrapper {
    z-index: 1000;
    width: 100%;
    margin-left:0px;
  /*  display:block; */
}
    .offers-top .offers ul.offers-det li {width: 98%} 
    
}
@media(min-width:768px) {
    #sidebar-wrapper {
    z-index: 1000;
    width: 0;
    height: 100%;
    margin-left: -250px;
  /*  display:block;*/
	
}
    #mainWrapper {
        padding-left: 250px;
    }

    #mainWrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 22%;
		margin-top:8%;
		/*display:block;*/
		
    }

    #mainWrapper.toggled #sidebar-wrapper {
        width: 0;
		height:200px;
		overflow:hidden;
    }

    #page-content-wrapper {
        padding: 0 20px 20px 20px;
        position: relative;
    }

    #mainWrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
 @media(min-width:1440px) {
    #page-content-wrapper{
    width: 91%;
    
}
                     }