﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="OfferAvailabilitySidebar.ascx.cs" Inherits="Affinion.LoyaltyBuild.Web.SupplierPortal.Layouts.SubLayouts.SupplierPortal.Controls.Offer.OfferAvailabilitySidebar" %>
