﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="OfflinePaymentPage.aspx.cs" Inherits="Affinion.LoyaltyBuild.Web.ClientPortal.Pages.OfflinePaymentPage" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
  
</body>
</html>
