﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ClientPortalMainBodySuplayout.ascx.cs" Inherits="Affinion.LoyaltyBuild.Web.ClientPortal.Layouts.SubLayouts.ClientPortal.ClientPortalMainBodySuplayout" %>
<%@ Register TagPrefix="sc" Namespace="Sitecore.Web.UI.WebControls" Assembly="Sitecore.Kernel" %>


    <sc:Placeholder ID="slider" Key="slider" runat="server" />


    <!-- -->

        <!-- Example row of columns -->
        <div class="row contentarea-outer">
            <div class="col-xs-12 no-padding">

                <sc:Placeholder ID="Placeholder1" Key="promobox" runat="server" />
                
            </div>
            <div class="col-xs-12 no-padding content-bottom">
               
                 
               <div class="col-md-12 no-padding margin-common-top">
                  <div class="adv-banner-area">
                     <div class="col-xs-12">
                        <div class="adv-banner">

                          <sc:Placeholder ID="Placeholder2" Key="advertismentarea" runat="server"/>
               
                         
                        </div>
                     </div>
                  </div>
                   
               </div>
            </div>

        </div>



