﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ClientPortalMapLocatorSublayout.ascx.cs" Inherits="Affinion.LoyaltyBuild.Web.ClientPortal.Layouts.SubLayouts.ClientPortal.ClientPortalMapLocatorSublayout" %>
<%@ Register TagPrefix="sc" Namespace="Sitecore.Web.UI.WebControls" Assembly="Sitecore.Kernel" %>


<div class="map-location">
    <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d2432836.9700720287!2d-7.620946650000021!3d53.45385115000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1ssupervalu+getaway+breaks+ireland!5e0!3m2!1sen!2slk!4v1444203114052" width="1000" height="600" style="border: 0" allowfullscreen></iframe>
</div>

