﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ClientPortalPaymentDetailsSublayout.ascx.cs" Inherits="Affinion.LoyaltyBuild.Web.ClientPortal.Layouts.SubLayouts.ClientPortal.ClientPortalPaymentDetailsSublayout" %>
<%@ Register TagPrefix="sc" Namespace="Sitecore.Web.UI.WebControls" Assembly="Sitecore.Kernel" %>
<div class="col-sm-12">
    <div class="pay-img">
        <img src="Resources/images/payment.jpg" alt="" class="img-responsive">
    </div>
</div>
