<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="RealexPaymentsSublayout.ascx.cs" Inherits="Affinion.LoyaltyBuild.Web.ClientPortal.Layouts.SubLayouts.ClientPortal.RealexPaymentsSublayout" %>
<%@ Register TagPrefix="sc" Namespace="Sitecore.Web.UI.WebControls" Assembly="Sitecore.Kernel" %>
<div class="col-sm-12">
<%--<iframe id="paymentIframe" class="iframe-top" style="margin:0; border:none; overflow:hidden;" width="100%" src="../../../bookingconfirmation">
</iframe>--%>
    <iframe id="paymentIframe" class="iframe-top" style="margin:0; border:none; overflow:hidden;" scrolling="yes" onload="resizeIframe(this)"  src="../../../RealexPayments">
    

</iframe>
</div>
<%--<script type="text/javascript">
    function AdjustIframeHeightOnLoad() { document.getElementById("test").style.height = document.getElementById("test").contentWindow.document.body.scrollHeight + "px"; }
    function AdjustIframeHeight(i) { document.getElementById("test").style.height = parseInt(i) + "px"; }
</script>--%>

<script language="javascript" type="text/javascript">
  function resizeIframe(obj) {
    obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
  }

</script>


