﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="TobbarTextLink.ascx.cs" Inherits="Affinion.LoyaltyBuild.Web.ClientPortal.Layouts.SubLayouts.ClientPortal.TobbarTextLink" %>
<%@ Register TagPrefix="sc" Namespace="Sitecore.Web.UI.WebControls" Assembly="Sitecore.Kernel" %>
<%--<li class="no-padding-right">
    <sc:Link Field="Link" ID="toplinks" runat="server"></sc:Link>
    Some text
</li>--%>

<li class="no-padding-right">
    <p id="PlaceholderText" runat="server">Set the datasource: Required Fields: Link</p>
    <sc:Link Field="Link" ID="toplinks" runat="server"></sc:Link>
</li>


