﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="Wizard2.ascx.cs" Inherits="Affinion.LoyaltyBuild.Web.Tests.Layouts.SubLayouts.ClientSetup.Wizard.Wizard2" %>
<%@ Register TagPrefix="sc" Namespace="Sitecore.Web.UI.WebControls" Assembly="Sitecore.Kernel" %>
<sc:Text ID="name" Field="name" runat="server" />
<sc:Text ID="password" Field="password" runat="server" />
<sc:Text ID="facebook" Field="facebook" runat="server" />
<sc:Text ID="Text1" Field="name" runat="server" />
Twitter 
<form id="formDemo" runat="server">
    <asp:TextBox ID="txtTwitter" runat="server"></asp:TextBox>
</form>