﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="RealexMisMatchReportSublayout.ascx.cs" Inherits="Affinion.LoyaltyBuild.AdminPortal.Layouts.SubLayouts.Reports.RealexMisMatchReportSublayout" %>
<asp:GridView ID="gvTestTable" runat="server"></asp:GridView>
