﻿<%@ Page Language="c#" CodePage="65001" AutoEventWireup="true" Inherits="Affinion.LoyaltyBuild.Web.ClientPortal.Layouts.PrimaryLayouts.ThemeChangePrimaryLayout" CodeBehind="ThemeChangePrimaryLayout.aspx.cs" %>

<%@ Register TagPrefix="sc" Namespace="Sitecore.Web.UI.WebControls" Assembly="Sitecore.Kernel" %>
<%@ OutputCache Location="None" VaryByParam="none" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="CODE_LANGUAGE" content="C#" />
    <meta name="vs_defaultClientScript" content="JavaScript" />
    <meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5" />
    <link href="/default.css" rel="stylesheet" />
    <sc:VisitorIdentification runat="server" />

    <%--  --%>
    <script src="Resources/scripts/jquery.min.js" type="text/javascript"></script>
    <script src="Resources/bootstrap_assets/javascripts/bootstrap.min.js" type="text/javascript"></script>
    <script src="Resources/scripts/jquery-1.10.2.js" type="text/javascript"></script>
    <script src="Resources/scripts/jquery.bxslider.min.js" type="text/javascript"></script>

    <link href="../../Resources/styles/green.css" rel="stylesheet" />
    <link id="lnkCSS" href="../../Resources/styles/Orange/Orange.css" rel="stylesheet" runat="server" type="text/css" />
</head>
<body>
    <form method="post" runat="server" id="mainform">
        <div class="columnone">
            <%--PromoBox1: Placeholder--%>
            <div class="leftnav">
                <sc:Placeholder Key="PromoBox1" runat="server" />
            </div>
        </div>
    </form>
</body>
</html>
