﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="RedirectToSitecoreLaunchPad.ascx.cs" Inherits="Affinion.LoyaltyBuild.Web.SupplierPortal.Layouts.SubLayouts.SupplierPortal.Controls.Welcome.RedirectToSitecoreLaunchPad" %>

 <%--<asp:Panel ID="PanelRecentlySeen" runat="server"> 
        <iframe id="IframeRecentlySeen" src=@"~/sitecore/client/Applications/Launchpad.aspx" sandbox="allow-same-origin allow-scripts allow-popups allow-forms"></iframe> 
 </asp:Panel>--%>