﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="OpenMediaInPage.ascx.cs" Inherits="Affinion.LoyaltyBuild.Web.Common.Layouts.SubLayouts.Common.OpenMediaInPage" %>

<div>
    <asp:Label ID="ErrorMessage" ForeColor="Red" runat="server" Visible="false"></asp:Label>
</div>