﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="RulesSampleSublayout.ascx.cs" Inherits="Affinion.LoyaltyBuild.Web.Common.Layouts.SubLayouts.Common.RulesSampleSublayout" %>
<%@ Register TagPrefix="sc" Namespace="Sitecore.Web.UI.WebControls" Assembly="Sitecore.Kernel" %>
<%@ Register TagPrefix="wc" Namespace="Affinion.LoyaltyBuild.Web.Common.WebControls" Assembly="Affinion.LoyaltyBuild.Web.Common" %>
