﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="SimpleTextSublayout.ascx.cs" Inherits="Affinion.LoyaltyBuild.Web.Common.Layouts.SubLayouts.Common.SimpleTextSublayout" %>
<%@ Register TagPrefix="sc" Namespace="Sitecore.Web.UI.WebControls" Assembly="Sitecore.Kernel" %>

<asp:Label ID="PlaceHolderText" Text="Set the datasource: Required Fields: Title" runat="server" />
<sc:Text Field="Title" ID="Text" runat="server" />