﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="SmsTest.aspx.cs" Inherits="Affinion.LoyaltyBuild.Web.SmsTest" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="The description of my page" />
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:Button ID="Button1" runat="server" Text="Single " OnClick="Button1_Click" />
        <br />
        <asp:Button ID="Button2" runat="server" Text="Multi 10" OnClick="Button2_Click" />
        <br />
        <asp:Button ID="Button3" runat="server" Text="Multi 11" OnClick="Button3_Click" />
        <br />
        <br />
        <asp:Label ID="Label2" runat="server" Text="Label"></asp:Label>
    </div>
    </form>
</body>
</html>
