.rate_bg
{
  width:74.8%;
  float:left;
  background:#f0f0f0;
  font-family:Arial,sans-serif;
  font-size:12px;
  color:#000;
}
.rate_tab
{
  width:100%;
/*  border:1px solid #000;*/
  float:left;
}
.cl_rate
{
  width:40%;
  border-right:1px dotted #999;
  float:left;
  margin-top:2%;
  margin-bottom:2%;
  padding-right:3%;
  min-height:435px;
}
.rate_title
{
  padding-left:5%;
}
.cl_tabl
{
  border:1px solid #d6d6d6;
  table-layout:fixed;
  border-collapse:collapse;
  width:95%;
  margin-left:5%;
  text-align:left;
}
.clrate_thead
{
  background:#969696;
  padding:5px;
  color:#fff;
}
.clrate_thead th
{
  padding:15px;
}
.cl_tabl td
{
  padding:15px;
  border:1px solid #d6d6d6;
}
.cl_tabl tbody tr:nth-child(2n+1),
.sub_rate tbody tr:nth-child(2n+1)
{
  background:#fff;
}
.cl_tabl tbody tr:nth-child(2n),
.sub_rate tbody tr:nth-child(2n)
{
  background:#e3e3e3;
}
.sub_rate
{
  width:53%;
  float:left;
  margin-top:2%;
  margin-bottom:2%;
  padding-right:3%;
}
.subrte_form
{
  float:left;
  margin-bottom:2%;
  font-size:13px;
  line-height:36px;
  width:100%;
}
.subrte_form label
{
  float:left;
  clear:left;
  margin-left:9%;
}
.frm_val
{
  font-weight:700;
  margin-left:22%;
  float:left;
}
.frm_select
{
  margin-left:17%;
  float:left;
  border:1px solid #ccc;
  padding:5px;
  font-size:12px;
  font-family:arial;
}
.vat_value
{
  border:1px solid #999;
  font-family:arial;
  font-size:12px;
  padding:4px;
  width:82%;
}
.ofr_btns
{
  float:right;
  clear:right;
  margin-top:2%;
}
.btn_save
 {
    background-color: #207da2 !important;
    background-image: linear-gradient(to bottom, #289bc8 0px, #207da2 100%) !important;
    border: 1px solid #207da2 !important;
    border-radius: 6px;
    box-shadow: 0 1px #5dbadf inset;
    color: #fff !important;
    cursor: pointer;
    font-family: Arial,Helvetica,sans-serif !important;
    font-size: 12px !important;
    height: 35px;
    line-height: 1.42857;
    min-width: 80px;
}

/* subrate template */
.subrate.clrate_thead
{
  background:#5e5e5e;
  padding:5px;
  color:#fff;
}
.subrate.clrate_thead th
{
  padding:15px;
  border-right:1px solid #fff;
}
.subrate.clrate_thead th:last-child
{
  border-right:none;
}
.subrte_cancl
{
  -moz-user-select: none;
  background-image: linear-gradient(to bottom, #f0f0f0 0%, #d9d9d9 100%);
  background-repeat: repeat-x;
  border: 1px solid #bdbdbd;
  border-radius: 6px;
  box-shadow: 0 1px #ffffff inset;
  cursor: pointer;
  display: inline-block;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 12px;
  font-weight: normal;
  height: 36px;
  line-height: 1.42857;
  margin-bottom: 0;
  margin-left: 10px;
  min-width: 80px;
  outline: medium none;
  padding: 8px 12px;
  text-align: center;
  text-shadow: none;
  vertical-align: middle;
  white-space: nowrap;
}