﻿h2{
    color:orange;
}
p {
    color:orange; 
}
.Title{
    color:#fff;
   background-color: orange;
  font-weight: bold;
  /*color: #2E2E2E;*/
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
.Name{
    
    color:#fff;
    background-color:#FFE0B2;
}