﻿@inherits System.Web.Mvc.WebViewPage
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
    <script src="/scripts/uCommerce.jQuery.js"></script>
    <script src="/scripts/uCommerce.ServiceStack.js"></script>
</head>
<body>
    <div>
        <a href="/store/basket">Basket</a>
        @Navigation.Display()
        @RenderBody()
    </div>
</body>
</html>
