﻿/*# client-setup  custom style*/
.cancel-button, 
.submit-button {border: medium none;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 700;
    margin: 7px 0;
   padding: 8px 18px;
    text-align: center;
    width: 100%;
    background: #258fb9;
}
.textbox {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
    height: 25px !important;
    padding: 0 0 0 13px;
    margin-bottom: 7px;
}
.erro-msg,
#UserChangePasswordController_ChangePasswordContainerID_NewPasswordCompare{
    color: red;
    font-weight:bold;
}
.span-space-detail {
    padding-bottom: 7px;
    display: inline-block;
    color: #ffd938;
}

.sucess-msg {
    padding: 17px;
    background-color: #C7DCCC;
    margin: 0 auto;
    border-radius: 5px;
    text-align: center !important;
    border: 1px solid #467F50;
    width: 50%;
}
.sucess-msg-inner {
    display: inline-block;
}
 .sucess-msg-inner span {
     color: #467f50;
     font-weight:600;
 }
 .sucess-msg-inner .submit-button {
     width: auto;
     color: #fff;
 } 
.Centered table{
    width: 100%;
}
body {
    background: url("../images/dropb_wallpaper.jpg") repeat scroll 0 0;
}

   

/*# sourceMappingURL=affinion-admin.min.css.map */

