﻿<%@ control language="C#" autoeventwireup="true" codebehind="OfflinePortalSearchCustomerQueryResult.ascx.cs" inherits="Affinion.LoyaltyBuild.Web.ClientPortal.Layouts.SubLayouts.OfflinePortal.OfflinePortalSearchCustomerQueryResult" %>

<div id="custqueryresult">

</div>