﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="OfflinePortalRealexPaymentsSublayout.ascx.cs" Inherits="Affinion.LoyaltyBuild.Web.ClientPortal.Layouts.SubLayouts.OfflinePortal.OfflinePortalRealexPaymentsSublayout" %>
<div class="col-sm-12">
    <iframe id="paymentIframe" class="iframe-top" style="margin: 0; border: none; overflow: hidden; min-height:525px;" width="100%" src="../../../Pages/OfflinePaymentPage.aspx"></iframe>
</div>
