﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="OfflinePortalTransferRealexPayment.ascx.cs" Inherits="Affinion.LoyaltyBuild.Web.ClientPortal.Layouts.SubLayouts.OfflinePortal.OfflinePortalTransferRealexPayment" %>

<div class="col-sm-12">
    <iframe id="paymentIframe" class="iframe-top" style="margin: 0; border: none; overflow: hidden; min-height:525px;" width="100%" src="../../../Pages/TransferPaymentPage.aspx" runat="server"></iframe>
</div>