﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="One Three One.ascx.cs" Inherits="Affinion.LoyaltyBuild.Web.SupplierPortal.Layouts.SubLayouts.SupplierPortal.Views.Full_Width.One_Three_One" %>


<div class="row main-block topmargin">
    <div class="span12">
        <sc:Placeholder ID="fullrow1" runat="server" Key="full-row1" />
    </div>
</div>

<div class="row main-block">
    <div class="span12">
        <div class="row show-grid hero-list features-list">
            <div class="span4">
                <sc:Placeholder ID="fullrow2a" runat="server" Key="full-row2a" />
            </div>
            <div class="span4">
                <sc:Placeholder ID="fullrow2b" runat="server" Key="full-row2b" />
            </div>
            <div class="span4">
                <sc:Placeholder ID="fullrow2c" runat="server" Key="full-row2c" />
            </div>
        </div>
    </div>
</div>

<div class="main-block">
    <div class="row show-grid">
        <div class="span12">
            <sc:Placeholder ID="fullrow3" runat="server" Key="full-row3" />
        </div>
    </div>
</div>

