﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="One Two Four.ascx.cs" Inherits="Affinion.LoyaltyBuild.Web.SupplierPortal.Layouts.SubLayouts.SupplierPortal.Views.Full_Width.One_Two_Four" %>

<div class="row main-block topmargin">
    <div class="span12">
        <sc:Placeholder ID="fullrow1" runat="server" Key="full-row1" />
    </div>
</div>
<div class="row main-block">
    <div class="span12">
        <div class="row">
            <div class="span7 home-block hero-block-1">
                <sc:Placeholder ID="fullrow2a" runat="server" Key="full-row2a" />
            </div>
            <div class="span5 home-block">
                <sc:Placeholder ID="fullrow2b" runat="server" Key="full-row2b" />
            </div>
        </div>
    </div>
</div>
<hr>
<div class="row main-block">
    <div class="span12">
        <div class="row show-grid hero-list features-list">
            <div class="span3">
                <sc:Placeholder ID="fullrow3a" runat="server" Key="full-row3a" />
            </div>
            <div class="span3">
                <sc:Placeholder ID="fullrow3b" runat="server" Key="full-row3b" />
            </div>
            <div class="span3">
                <sc:Placeholder ID="fullrow3c" runat="server" Key="full-row3c" />
            </div>
            <div class="span3">
                <sc:Placeholder ID="fullrow3d" runat="server" Key="full-row3d" />
            </div>
        </div>
    </div>
</div>
